[2013-08-28 21:34] yakky opened #1 "Fix python 3 support"

[2013-08-28 22:10] digi604 opened #2 "provide sqlite as default database and provide a DB example (sqlite)"

[2013-08-28 22:11] digi604 opened #3 "timezone entry not clear, provide example"

[2013-08-28 22:12] digi604 opened #4 "exception"
File "/Users/patricklauber/Documents/workspace/test_project/env/bin/aldryn-installer", line 8, in <module>
    load_entry_point('aldryn-installer==0.1.0', 'console_scripts', 'aldryn-installer')()
  File "/Users/patricklauber/Documents/workspace/test_project/env/lib/python2.7/site-packages/aldryn_installer/main.py", line 13, in execute
    config_data = config.parse(sys.argv[1:])
  File "/Users/pat

[2013-08-28 22:15] digi604 opened #5 "rename executable to "aldryn""
or aldryn_installer (at the moment: aldryn-installer)

[2013-08-29 08:10] #2 closed, assigned to nobody

[2013-08-29 08:10] #3 closed, assigned to nobody

[2013-08-29 08:10] #4 closed, assigned to nobody

[2013-08-29 08:10] #5 closed, assigned to nobody

[2013-08-29 11:58] digi604 opened #7 "exception"
ownloading/unpacking django-cms from https://github.com/divio/django-cms.git@develop
  HTTP error 404 while getting https://github.com/divio/django-cms.git@develop
  Could not install requirement django-cms from https://github.com/divio/django-cms.git@develop because of error HTTP Error 404: Not Found
Cleaning up...
Could not install requirement django-cms from https://github.com/divio/django-cms.

[2013-08-29 12:09] yakky opened #8 "Add tests for wizard input"

[2013-08-29 12:30] yakky opened #9 "Add more user-friendly failures"

[2013-08-29 12:31] yakky opened #10 "Add documentation"

[2013-08-29 12:51] #7 closed, assigned to nobody

[2013-08-29 13:33] digi604 opened #12 "test as project name invalid, maybe make sure it does not has conflict with existing modules and dependencies"
Successfully installed django-classy-tags south html5lib Pillow django-mptt django-sekizai Django django-reversion djangocms-text-ckeditor djangocms-admin-style djangocms-column djangocms-style django-cms
Cleaning up...
CommandError: 'test' conflicts with the name of an existing Python module and cannot be used as a project name. Please try another name.
Traceback (most recent call last):
  File "

[2013-08-29 13:40] digi604 opened #13 "other exception"
atabase configuration (in URL format) [default sqlite://locahost/project.db]:
django CMS version (choices: 2.4, stable, beta, develop) [default stable]: develop
Django version (choices: 1.4, 1.5, stable) [default stable]: 1.5
Activate Django I18N / L10N setting (choices: yes, no) [default yes]: yes
Install and configure reversion support (choices: yes, no) [default yes]:
Languages to enable. Optio

[2013-09-22 10:15] #10 closed, assigned to yakky

[2013-09-22 10:15] #12 closed, assigned to nobody

[2013-09-22 10:15] #13 closed, assigned to nobody

[2013-09-25 06:34] yakky opened #19 "Add support for django templates"
Add argument to select a django project template (to be passed to `django-admin`)

[2013-10-02 08:55] Chive opened #20 "Can't add multiple languages in interactive mode"
[code]

ends up with these languages:
- `e`
- `n`
- `,`
- `d`
- `e`

also tried:
- `"en","de"` -> `"` becomes a language too
- `en;de`

but they didn't work either

[2013-10-02 09:17] #20 closed, assigned to nobody

[2013-10-14 08:25] henning opened #23 "check for libjpeg-dev before installing pillow"
I ran into the situation that the installer fails at the end when Pillow is not compiled / installed with libjpeg support.

There are two things I'd like to propose that could be done to help users getting along wih this:
- check if libjpeg is there _before_ installing pillow - because we already know it will fail otherwise
- if the former is not possible or hard to do (it might be hard to detect

[2013-10-21 07:30] Chive opened #26 "Windows, virtualenv & python"
You need to make sure the python extensions and filetype are associated correctly and to the current virtualenv. Currently, windows just uses the globally install python.

[code]
and

[code]

[2013-10-21 15:19] #23 closed, assigned to nobody

[2013-11-03 13:50] henning opened #31 "when extending base.html from page.html, a base.html should be included"
With a simple basic install, I realize that we end uo having the normal "index.html" template - which I do not yet see how it should be used in this blank state, and there's a page.html - which cannot be used for anything as trying to use it(e.g. by default when adding a page through the API that wants to use it) results in an error about the extended template not existing.

I'll go and make a fix

[2013-11-04 08:37] #31 closed, assigned to nobody

[2013-11-04 10:37] #1 closed, assigned to yakky

[2013-11-04 12:28] henning opened #36 "Unexecuted test asserts in tests/config.py"
In the tests for the configuration checks there are multiple assertions that are never executed.

Reason for this is that they are indented to be part of the with block, while they must be outside, after the with block to actually be executed.

I tried to fix that, but after getting the assertions to be executed, I fail to get them to be run properly. I might not yet have fully understood how the

[2013-11-04 19:21] henning opened #38 "test_whitespace_project_path in tests/config.py is a copy of test_invalid_project_path"
This test is just a copy paste from the other one - only differring in the one, unexecuted(see our latest learnings about the with/assertRaises) assertion

If I can get an understanding of what it's supposed to test for, I can implement it properly, but it has no docstring to explain it's intended functionality.

Otherwise I'd just like to remove it.

[2013-11-07 18:19] henning opened #40 "-q should use default values where nothing is specified"
I believe that all config options should have a default, and in fact, in the interactive run, they have.

As such, when running on the command line with -q, I expect the installer to use defaults where I don't specify anything explicitly.

I think that's the most convenient way for everybody to deal with.

Like this people can write scripts to fully automate a new project setup with minimum effort

[2013-11-07 23:26] henning opened #41 "-p option isn't optional when using django 1.5.5"
When using django 1.5.5 instead of for example 1.5, and not giving the -p option, there is an error - and not exactly one that helps users to understand what's happening.

It just says - after a few seconds of nothing happening:

Error while creating target project, please check the given configuration

It should be saying that since django 1.5.5 -p must be given - or better, we might implement it

[2013-11-07 23:29] henning opened #42 "verbose output on demand"
Up until the point where the installer runs some database stuff, the user can sit a few seconds or longer (e.g. when network is slow and dependencies are installed) in front of the command, appearing nothing is happening.

Even without verbose option chosen, there should be some message to the user that aldryn installer is actually doin something.

It miught also be interesting to only print out a

[2013-11-11 10:14] yakky opened #43 "Ship richer templates to lower the entry barrier"
Ship richer html templates to make things easier for newbies.

As suggested by @henning, have a look at mezzanine installer.

[2013-12-10 06:30] #36 closed, assigned to nobody

[2013-12-10 06:30] #38 closed, assigned to nobody

[2013-12-10 06:30] #40 closed, assigned to nobody

[2013-12-10 06:30] #41 closed, assigned to nobody

[2013-12-25 23:14] #9 closed, assigned to yakky

[2013-12-25 23:14] #19 closed, assigned to nobody

[2013-12-25 23:14] #43 closed, assigned to yakky

[2014-01-21 10:59] yakky opened #50 "Add support for external templates"
Let user pass a URL or path to get templates and static files from

[2014-02-03 09:37] yakky opened #54 "Fix documentation for new arguments"

[2014-02-07 18:22] #54 closed, assigned to nobody

[2014-02-07 18:23] yakky opened #58 "Check with django 1.6"

[2014-02-11 12:47] yakky opened #59 "Add support for new semi-core plugins"
Add support for plugins removed from CMS core

[2014-03-01 08:14] yakky opened #61 "Sync with latest django CMS changes"
Waiting for RC1 release

[2014-03-06 19:01] michalsladek opened #63 "Python3 compatibility"
Hello!

I have both Python versions installed on my CentOS (2.6.6 and 3.3). I would prefer running Django CMS under Python 3.3. Installation works fine until setup_database calls:

subprocess.check_call(["python", "-W", "ignore", "manage.py", "syncdb", "--all", "--noinput"])

Since "python" command runs Python 2.6.6, for which django is not installed, it fails with "No module named django.core.man

[2014-03-14 12:48] #59 closed, assigned to nobody

[2014-03-14 14:11] #61 closed, assigned to nobody

[2014-03-14 22:11] ruidc opened #66 "check_install using incorrect path to image files returns false fail"
using virtualenv and following the tutorial for djcms 3.0 beta3 the path it was looking in for images was:
/home/rui/workspace/demo/env/lib/python3.3/site-packages/djangocms_installer/install/../share/test_image.png
and although the share directory was there, the png file was not, it should do an os.path.exists(file) first

[2014-03-14 22:15] ruidc opened #67 "DJANGO_SETTINGS_MODULE not set raises error"
(env)[rui@alarm demo]$ python starting_page.py
Traceback (most recent call last):
  File "/usr/lib/python3.3/site-packages/django/conf/**init**.py", line 38, in _setup
    settings_module = os.environ[ENVIRONMENT_VARIABLE]
  File "/home/rui/workspace/demo/env/lib/python3.3/os.py", line 676, in __getitem__
    raise KeyError(key) from None
KeyError: 'DJANGO_SETTINGS_MODULE'

[2014-03-14 22:33] ruidc opened #68 "missing or invalid reference to json file"
(env)[rui@alarm demo]$ python starting_page.py
Traceback (most recent call last):
  File "starting_page.py", line 15, in <module>
    with open('starting_page.json') as data_file:
FileNotFoundError: [Errno 2] No such file or directory: 'starting_page.json'

[2014-03-16 09:35] #66 closed, assigned to nobody

[2014-03-16 09:58] #68 closed, assigned to nobody

[2014-03-17 15:54] digi604 opened #71 "MEDIA_URL and MEDIA_ROOT not set"
Also i think no static folder is created and collect_static not run.

[2014-03-17 16:38] erieval opened #72 "plugin is missing in settings.py"
I installed django-cms dev 14 with django 1.6 and filer plugins using djangocms-installer .  cmsplugin_filer_image is not in settings.py and so it is not available in the browser in frontend.
Also MEDIA_URL and MEDIA_ROOT are not defined in settings.py , which is not explained in tutorial on using djangocms-installer.

[2014-03-17 17:49] #58 closed, assigned to nobody

[2014-03-17 17:49] #71 closed, assigned to yakky

[2014-03-17 17:49] #72 closed, assigned to yakky

[2014-03-18 13:32] digi604 opened #78 "django 1.6 installs django-reversion==1.7.1.... should be django-reversion>=1.8 <=1.9"

[2014-03-18 14:33] #78 closed, assigned to yakky

[2014-03-19 11:28] colin4124 opened #80 "ImportError: No module named compat.dj"
When I use "djangocms -p . my_demo", and the error ocurr.

<code>
    ImportError: No module named compat.dj
   Traceback (most recent call last):
  File "./env/bin/djangocms", line 9, in <module>
    load_entry_point('djangocms-installer==0.3.1', 'console_scripts', 'djangocms')()
  File "/home/colin4124/D/MyProject/Try/django/demo/env/local/lib/python2.7/site-packages/djangocms_installer/main.py"

[2014-03-20 16:54] #80 closed, assigned to nobody

[2014-03-23 07:34] #63 closed, assigned to nobody

[2014-03-23 07:34] #67 closed, assigned to nobody

[2014-03-28 09:54] yakky opened #83 "Wrong settings when using CMS=stable/2.4"

[2014-03-29 07:59] #83 closed, assigned to nobody

[2014-04-02 10:45] mikemcgowan opened #85 "settings.py created with 3 duplicate, and 1 redundant, setting"
On Ubuntu 13.04 Raring, in version 0.3.4, when running the installer with the values suggested in the tutorial:

`SITE_ID`, `STATIC_ROOT`, `STATICFILES_DIRS` are all created twice.
`BASE_DIR` is created once, only referenced when setting `STATIC_ROOT` (which overwrites the previously set value of `STATIC_ROOT`). Does `BASE_DIR` need to exist if `PROJECT_PATH` already exists?

Also, `PROJECT_PATH`

[2014-04-03 14:43] digi604 opened #86 "upgrade to rc2"

[2014-04-03 20:33] #86 closed, assigned to yakky

[2014-04-08 16:53] #85 closed, assigned to nobody

[2014-04-09 11:23] digi604 opened #88 "remove rc2 and add 3.0"

[2014-04-09 13:15] #88 closed, assigned to nobody

[2014-04-12 16:43] valberg opened #94 "Check cnnection to the database before asking other questions"
It would be really nice if the installer checked the connection to the database before asking anything else. This way the information typed after the database url won't just be dropped if the connection fails.

[2014-04-17 15:16] yakky opened #95 "use cms_settings instead of media. context processor"

[2014-04-19 11:53] yakky opened #96 "Pillow is not compiled with JPEG support while it is"
See divio/django-cms#3082

[2014-04-21 10:07] #95 closed, assigned to nobody

[2014-04-26 15:41] #96 closed, assigned to nobody

[2014-05-01 07:08] yakky opened #101 "Add custom settings support"
Allow user to pass extra settings argument to the installer to be merged in the generated settings file.
This is a future proof feature that enable user to provide settings required by newer version of a dependency than the one the installer has been tested on (see the easy-thumbnails 2.0 thing)

[2014-05-02 11:45] #50 closed, assigned to nobody

[2014-05-06 05:40] yakky opened #103 "Add argparse as dependency"

[2014-05-06 08:03] yakky opened #104 "Timezone is not set on Django 1.6"

[2014-05-06 09:25] #103 closed, assigned to yakky

[2014-05-06 09:25] #104 closed, assigned to nobody

[2014-05-08 12:42] oubiga opened #106 "Error creating admin user. I accepted default value "oubiga""
Hi,
I got this error when I was trying to install django-cms using djangocms-installer.
I set a “Hobby Dev Heroku Postgres” database url.
Os x, Python 2.7.6, pip==1.5.4 and virtualenv==1.11.4

[code]

[2014-05-08 18:09] yakky opened #107 "Clarify language options"
Only language code are allowed

[2014-05-09 11:16] #106 closed, assigned to nobody

[2014-05-09 15:45] yakky opened #108 "Bailout when error occurs in the pip install phase"

[2014-05-19 08:04] yakky opened #110 "Allow using ini file to pass options to the installer"
Using a ini file will make easier to create repeatable installations

[2014-05-20 22:38] #107 closed, assigned to yakky

[2014-05-20 22:45] #108 closed, assigned to nobody

[2014-05-21 07:09] #101 closed, assigned to nobody

[2014-05-22 22:52] dmishne opened #114 "install failing when trying to use Use Twitter Bootstrap Theme = yes"
Failure:
raise TemplateDoesNotExist(name)
"django.template.base.TemplateDoesNotExist: fullwidth.html"

Defect:
in file: djangocms_installer/django/**init**.py
method: _build_settings(config_data):

relevant buggy code:

if config_data.bootstrap == 'yes':
        cms_templates = 'CMS_TEMPLATES_BOOTSTRAP'
    else:
        cms_templates = 'CMS_TEMPLATES'

Should be:

if config_data.bootstrap:

[2014-05-23 10:25] #114 closed, assigned to nobody

[2014-05-23 10:32] samuelcolvin opened #116 "No fullwidth.html with bootstrap switched on"
I've been getting some errors saying "django.template.base.TemplateDoesNotExist: fullwidth.html"  when I set Bootstrap to true in the setup prompt.

This is particularly a problem if one chooses "Load a starting page..." and breaks the installer.

I think fullwidth.html is missing from templates with bootstrap.

[2014-05-23 14:48] neaai opened #117 "Installer 0.5.0 complains for missing template: fullwidth.html"
Hello.
What I do to replicate the problem is as follows:

Create a virtualenvironment.
"virtualenv env"

Activate it.
"source env/bin/activate"

Install Django. As of now pip installs 1.6.5
"pip install django"

Install the djangocms-installer. As of now, pip installs 0.5.0
"pip install djangocms-installer"

Create a project. I use a mysql database.
"djangocms-installer -p . project"

The installa

[2014-05-23 15:47] yakky opened #118 "Drop argparse in favor of a more flexible argument management tool"
Suggestion accepted:
- Click
- docopt

[2014-05-23 15:56] #117 closed, assigned to nobody

[2014-05-23 15:56] #116 closed, assigned to nobody

[2014-06-13 07:11] rajasimon opened #121 "No module named reversion"
I followed every step to run but after running runserver gives follow error

(env) C:\Python27\Scripts\cms\demosite>manage.py runserver
ImportError: No module named reversion

[2014-06-16 14:56] tdelam opened #122 "Prompted for user input when --no-input is used"
When running the djangocms installer with the --no-input flag I still get prompted to create the admin user.

[2014-06-30 05:24] growlf opened #123 "Using --filer flag fails"
When using the filer advanced setting, the command fails fails with the following dump:

[code]

[2014-07-01 21:23] #123 closed, assigned to nobody

[2014-07-23 05:42] #122 closed, assigned to nobody

[2014-07-23 05:46] #121 closed, assigned to nobody

[2014-08-02 21:05] aquarianpioneer opened #126 "djangocms installer scrambles DATABASES = in settings.py"
Installing Django-cms 3.0.3 on a Bitnami server in the Amazon Web Services environment has an error
when generating the settings.py file; the installer installs most required modules but scrambles the
DATABASES = section so that the installation fails with error "tmp/mysql.sock does not exist".

The Bitnami cloud server is running Ubuntu 14.04LTS Linux, Python 2.7.6, Django 1.6.5 and MySQL 5.5.36.

[2014-08-05 11:34] chrumalo opened #127 "bug with django 1.5 django reversion"
after following the steps of the tutorial I found out that the tutorial doesn't work with django 1.5, but properly with django 1.6

here is the output from the bug with django 1.5

[code]

[2014-08-06 06:47] #127 closed, assigned to nobody

[2014-08-17 15:17] pterrien opened #131 "'NoneType' object has no attribute 'has_change_permission'"
Hi,

Right after creating a new project, I faced the following error when switching to edit mode :

[code]

This issue seems to be related to djangocms_column, when calling `{% render_plugin plugin %}` in the template.
It has also been reported with Python2.7 : http://stackoverflow.com/questions/25344675/django-cms-frontend-editer-display-error

Cheers,

Pascal.

[2014-08-19 12:39] #131 closed, assigned to nobody

[2014-08-26 07:44] #126 closed, assigned to nobody

[2014-08-30 22:08] yakky opened #133 "Add support for aldryn boilerplate"

[2014-09-20 18:00] yakky opened #136 "Add support for project zipfile"
Allow to provide a zip file containing the project template and the configuration file

[2014-09-27 08:19] #133 closed, assigned to nobody

[2014-09-27 08:38] yakky opened #137 "Use external virtualenv"
Do not use current virtualenv for project setup and tests, and allow the user to specify an existing or new one

[2014-10-02 14:45] epicserve opened #138 "Installer failed"
I just tried the installer and this is what I got ...

[code]

[2014-10-02 18:33] ojii opened #139 "Clean up when installer fails"
So the installer failed for me (I gave it the wrong DB URL, why it failed is really not important), so I re-ran it and this time it failed because the directories it tried to create already existed. It's nice it checks and stops if it already exists, however when the first attempt failed, it should've cleaned up after itself and removed anything it created.

Something like this:

[code]

Where any

[2014-10-07 21:54] jsma opened #140 "django-cms is not compatible with Django 1.8"
Should we temporarily remove the beta/develop options for installing Django since only 1.7 is currently supported? There are many things that have been completely removed already from Django's master branch on github which breaks django-cms. On that note, is there a planned release coming for Django 1.7 support? Pypi version still installs 1.6 but the tutorials assume 1.7.

[2014-10-11 10:01] #140 closed, assigned to nobody

[2014-10-13 17:07] #138 closed, assigned to nobody

[2014-10-27 17:51] t00f opened #144 "djangocms installation failure"
Hi,

I used the django-installer package for creating a website but while trying to deploy, it I tried re-running django-installer and it now fails :

`$ djangocms -p . demo`

Using all default options, command line returns :

[code]

Any thoughts about how to resolve this ?

Thanks for your help

[2014-10-28 00:25] #144 closed, assigned to nobody

[2014-11-07 08:47] evildmp opened #145 "Supplying version numbers doesn't work as expected"
If a user enters **1.6.9** (or other value for the version of Django) when running the installer, it will install 1.7.1.

It should be clear that entering **1.6** will install a recent version of 1.6 (though in fact, it installs 1.6.8, not 1.6.9).

Likely similar issues apply for django CMS versions.

[2014-11-08 22:37] #145 closed, assigned to nobody

[2014-11-24 11:54] tehfink opened #147 "Install error with django CMS version 'develop': django-treebeard requirement?"
[code]

[2014-12-06 23:19] #147 closed, assigned to nobody

[2014-12-07 17:08] #139 closed, assigned to nobody

[2015-01-04 23:19] yakky commented on #137
Fixed in #149

[2015-01-04 23:19] #137 closed

[2015-01-12 09:50] danmur opened #156 "djangocms deleted every file in the dir I ran it in"
I followed the instructions on the website to install but it has errored and deleted everything from the dir I ran it in (which had about four years worth of projects in it, hope everything was checked in):

    daniel:djangotest daniel$ pwd
    /Users/daniel/tmp/djangotest
    daniel:djangotest daniel$ mkdir adir
    daniel:djangotest daniel$ touch adir/afile
    daniel:djangotest daniel$ ls -alh

[2015-01-13 08:34] yakky commented on #156
Sorry to hear that, @danmur
`-p` has always been intended as a directory specific for the project (it's where the `manage.py` goes)
The above PR minimise the issue by asking confirmation before removing and providing more info about the `-p` parameter

[2015-01-14 00:34] danmur commented on #156
Yep understand. I think the confusing thing for me is that essentially that snippet I pasted is right on the django-cms homepage:

    $ pip install --upgrade virtualenv
    $ virtualenv env
    $ source env/bin/activate
    (env) $ pip install djangocms-installer
    (env) $ djangocms -p . my_demo

Just opening a terminal and typing that might be enough to delete a home directory. If -p is intend

[2015-01-15 07:42] yakky commented on #156
Adding the check as proposed

[2015-01-15 07:59] #156 closed

[2015-01-15 08:04] yakky commented on #156
Version 0.7.1 has been released to solve this

[2015-01-20 12:15] 00091701 opened #160 "Error on installation"
Failure occurred. Do you want to cleanup by removing C:\Temp\dj\ProjectSite? [Y/N] y
Removing everything under C:\Temp\dj\ProjectSite
Traceback (most recent call last):
File "C:\Temp\dj\ProjectSite\env\Scripts\djangocms-script.py", line 9, in
File "C:\Temp\dj\ProjectSite\env\lib\site-packages\djangocms_installer\main.py", line 30, in execute
File "C:\Temp\dj\ProjectSite\env\lib\site-packages\djang

[2015-01-20 12:17] yakky commented on #160
Could you translate the german message?

[2015-01-20 12:36] 00091701 commented on #160
DE:
WindowsError: [Error 193] %1 ist keine zulässige Win32-Anwendung

EN:
WindowsError: [Error 193] %1 is not a valid Win32 application

[2015-01-20 13:26] Hiieu opened #161 "Failure occurred. Do you want to cleanup by removing ..."
I did exactly everything in tutorial and I got this error after typing:

`Failure occurred. Do you want to cleanup by removing \path\myproject? [Y/N]`

[code]

And when I typ Y I get this:

[code]

[2015-01-20 18:41] Hiieu commented on #161
@yakky: I think my issue is a duplicate

https://github.com/nephila/djangocms-installer/issues/160

[2015-01-21 12:10] Hiieu commented on #161
@yakky: Well I found an alternative. I installed django cms on my ubuntu system then copied all folder to my windows project directory and now it works.

[2015-01-25 10:48] yakky commented on #160
@00091701 woult you please check by installing https://github.com/nephila/djangocms-installer/archive/feature/hotfixes.zip?

[2015-01-25 10:48] yakky commented on #161
@Hiieu  would you please check by installing https://github.com/nephila/djangocms-installer/archive/feature/hotfixes.zip?

[2015-01-25 23:55] GabLeRoux opened #163 "django-cms not using LANGUAGE_CODE for core translations when installed from djangocms-installer"
Please have a look to this:
https://github.com/divio/django-cms/issues/3798

Not quite sure if this is an issue with `djangocms-installer` itself or `django-cms`.

[2015-01-26 10:17] 00091701 commented on #160
@yakky ,

I am sorry but it does not work.

After "a long time" I got this error message:

Creating the project
Please wait while I install dependencies
Dependencies installed
Creating the projectTraceback (most recent call last):
  File "C:\Temp\Django\ProjectSite\env\Scripts\django-admin.py", line 2, in <module>
    from django.core import management
ImportError: No module named django.core
Fail

[2015-01-27 17:06] kanishpatel commented on #161
Getting the same issue on OSX 10.10 with python 2.7.6 in a virtualenv

tried the hotfix, It now prints a couple of extra lines before failing.

    (my_env):tutorial-project $ djangocms -p . mysite
    Database configuration (in URL format) [default sqlite://localhost/project.db]:
    django CMS version (choices: 2.4, 3.0, stable, develop) [default stable]:
    Django version (choices: 1.4, 1.5, 1

[2015-01-28 22:19] yakky commented on #163
looks unrelated to django CMS installer.
Keeping this open for the moment

[2015-01-28 22:21] yakky commented on #161
what happends after answering?

[2015-01-29 01:52] GabLeRoux commented on #163
This is indeed unrelated, downgraded django version 3.0.7 and french translations are working.

[2015-01-29 02:56] kanishpatel commented on #161
Ok so I apologise, mine was a completely different issue, nothing to do with djangocms-installer.

Pressing Y complained that pillow wasn't installed or something is wrong with it, but it was installed, and it could find libjpeg (and the rest). Turns out (after a lot of digging) that upgrading OSX to Yosemite had ruined my homebrew setup and I had a bunch of broken symlinks. Fixed those and now ev

[2015-01-29 05:37] yakky commented on #163
Closing this, keeping the CMS one open

[2015-01-29 05:37] #163 closed

[2015-01-29 05:39] yakky commented on #161
@kanishpatel no worries :)

[2015-01-29 05:42] yakky commented on #160
Ok, this is a different error, which is quite weird as it apparently finds the django-admin.py command but not the Django code.
Could you check the environment and what happens if you run ``django-admin.py startproject projekt `` manually in the same virtualenv?

[2015-01-29 08:53] 00091701 commented on #160
Test 1
--------
C:\Temp\Django>mkdir ProjectSite

C:\Temp\Django>cd ProjectSite

C:\Temp\Django\ProjectSite>
C:\Temp\Django\ProjectSite>virtualenv --no-site-packages env
New python executable in env\Scripts\python.exe
Installing setuptools, pip...done.

C:\Temp\Django\ProjectSite>
C:\Temp\Django\ProjectSite>env\Scripts\activate.bat
(env) C:\Temp\Django\ProjectSite>pip install pillow
Downloading/un

[2015-02-02 14:53] mkoistinen opened #164 "sitemaps should probably not be in i18n_patterns"
Google's docs strongly suggest that the sitemap.xml be located at the root of the site.

(However, I do agree that it isn't obvious how to apply these guidelines in the case of i18n'ed sites.)

[2015-02-07 16:37] #160 closed

[2015-02-07 16:37] #161 closed

[2015-02-12 16:15] duyutaochn commented on #161
我也遇上了一样的问题，把python 虚拟环境文件夹目录下面的lib文件夹内的东西全删了就不再出现了

[2015-02-17 17:00] Mirodil opened #165 "errors during creating new project"
here is error:
[code]

[2015-02-22 22:03] yakky commented on #165
@Mirodil are you using latest version on pypi (0.7.2)?

[2015-02-22 22:07] yakky commented on #26
Current version works ok

[2015-02-22 22:07] #26 closed

[2015-02-23 05:30] Mirodil commented on #165
yes. the issue has been fxied.

[2015-02-23 05:30] #165 closed

[2015-02-23 19:40] JeymyAV opened #166 "Installer 0.7.2. Page Title never changes when you choose the option Twitter Bootstrap Theme = YES"
Hello,

When you install djangocms with the installer using the Bootstrap Theme, the name of the Page title always is displayed "This is my new project home page", because this never change.

The problem is when the djangocms-installer create a new project in some templates this tag is missing:
{% block title %}{% page_attribute 'title' %}{% endblock title %}.

This no happen if you install withou

[2015-02-24 21:45] yakky commented on #166
Thanks for reporting, #166 fix this

[2015-02-24 22:07] #166 closed

[2015-03-04 01:01] hendersonanalytics opened #168 "Possible fix for ImportError: No module named django.core"
I tried your installer in a virtualenv in Windows 7.  I kept getting the same error as this guy: https://github.com/nephila/djangocms-installer/issues/165

I ended up having to change one line in djangocms_installer\django\__init__.py

In the create_project function, I changed the syntax from:

subprocess.check_call(' '.join(['django-admin.py', 'startproject'] + args), shell=True)

to:

subprocess

[2015-03-05 07:25] yakky commented on #168
Is the ``py`` extension correctly registered? (see https://github.com/nephila/djangocms-installer#windows-support)

[2015-03-05 15:36] hendersonanalytics commented on #168
I tried that solution before applying my fix and it didn't solve the django.core error.  I got the idea for my fix from the Django project docs - check out the "Running virtualenv on Windows" section on this page:

https://docs.djangoproject.com/en/1.6/faq/troubleshooting/#troubleshooting-django-admin-py

Thanks.

[2015-03-27 09:40] alvaromlg opened #169 "Python3.2 sys.stderr.write unicode"
Hello, there is this traceback ocurring with python3.2

Traceback (most recent call last):
  File "/usr/local/bin/djangocms", line 9, in <module>
    load_entry_point('djangocms-installer==0.7.2', 'console_scripts', 'djangocms')()
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 337, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/

[2015-04-05 15:37] yakky commented on #169
Python 3.2 is not supported by django-cms  and djangocms-installer, you must upgrade to python 3.3

[2015-04-05 15:37] #169 closed

[2015-04-14 19:41] #168 closed

[2015-04-14 21:56] holms opened #174 "InsecurePlatformWarning: A true SSLContext object is not available"
Tried to setup a project, with latest version from pip.

[code]

[2015-04-14 22:00] yakky commented on #174
Which python/pip version?

[2015-04-14 22:01] holms commented on #174
[code]

[2015-04-14 22:03] holms commented on #174
On default digital ocean droplet of Ubuntu 14.04 x64, if you're interested :)

[2015-04-14 22:25] holms commented on #174
Seems to be installing this package from pip resolved an issue, but i'm not sure if this should be like it is..
[code]
People suggests to start using urllib3:
http://stackoverflow.com/questions/29134512/insecureplatformwarning-a-true-sslcontext-object-is-not-available-this-prevent

[2015-04-14 22:36] yakky commented on #174
It's not due to the requests version (requests is only used in a currently disabled option), but I guess the certifi package that gets installed with it, which pip uses if present

[2015-04-15 11:08] arinker opened #175 "wrong djangocms-flash version in dependencies (BUG)"
release djangocms-flash==0.2.0 doesn't exist

must be djangocms-flash==0.1.0 instead

https://github.com/divio/djangocms-flash/releases

[2015-04-15 17:35] yakky commented on #175
Fixed by releasing djangocms-flash 0.2.0 (which was ready but not uploaded by mistake)

[2015-04-15 17:35] #175 closed

[2015-04-15 18:03] arinker commented on #175
Thank you!

[2015-04-19 07:14] yakky opened #176 "Add support for new migration location across django CMS plugins"

[2015-05-04 19:26] tormenta1026 opened #178 "I can not create the project"
I can not create the project follow the steps in the quick installation and I could not install it by any means.

http://docs.django-cms.org/en/support-3.0.x/introduction/install.html

This is the message I get:

Creating the project
Please wait while I install dependencies
Dependencies installed
Creating the projectFailure occurred. Do you want to cleanup by removing /home/user/testing? [Y/N]

I

[2015-05-09 08:52] yakky commented on #178
@tormenta1026 any other messages/tracebacks? have you checked installer FAQ http://djangocms-installer.readthedocs.org/en/latest/faq.html?
Which were the input you provided to the wizard?

[2015-05-17 18:34] giovannicode commented on #178
I too have had the same issue. I get the same message. I don't get a traceback  unless I answer 'yes' to removing the project.

Then I get the following traceback:

[code]

I have tried several different ways of installing the project. With python 3.4 and python 2.7, with a virtualenv, with pyenv, without a virtual environment, but I still can't get it to work.

[2015-05-18 06:44] yakky commented on #178
@giovannicode have you checked that pillow can be built with jpeg support?

[2015-05-19 15:44] tormenta1026 commented on #178
There is another way to create Project ?

[2015-05-19 18:54] yakky commented on #178
@tormenta1026 you could try to use the dump mode to get the requirements, create the virtualenv and install dependencies with pip

[2015-05-19 19:28] giovannicode commented on #178
I checked for JPEG support and it turns out pillow did not have it.
So, based on this StackOverflow [question](http://stackoverflow.com/questions/8915296/python-image-library-fails-with-message-decoder-jpeg-not-available-pil), I recompiled it with JPEG support.

Now I get a little bit further, but then I get this error message:
[code]

[2015-05-19 20:48] yakky commented on #178
This looks like an error in the local python library installation. it does not look like a regular virtualenv setup

[2015-05-26 20:31] hfv1606 commented on #174
sudo apt-get install -y libffi-dev libssl-dev
    pip install requests[security]

should this issue for me

Unfortunately I encounter another issue:

EnvironmentError: Pillow is not compiled with JPEG support, see 'Libraries installation issues' documentation section: http://djangocms-installer.readthedocs.org/en/latest/libraries.html

documentation didn't help

[2015-05-31 09:07] yakky commented on #174
@hfv1606 What if you pip install pillow yourself? Does it comes with png and jpeg support?

[2015-05-31 09:17] hfv1606 commented on #174
error "Pillow is not compiled with JPEG support" solved with

sudo apt-get install -y libtiff5-dev libjpeg8-dev zlib1g-dev libfreetype6-dev liblcms2-dev libwebp-dev tcl8.6-dev tk8.6-dev python-tk

[2015-05-31 17:53] yakky commented on #174
Clarify the libraries section with examples. Thanks @hfv1606

[2015-05-31 20:53] hfv1606 commented on #174
I don't know what you mean by examples

But I will describe my case as well as I can.

I have made a virtual machine for virtual box with vagrant.
I installed Ubuntu 14.04.2 LTS

The commands below lead to a succesfull install of djangocms with djangocms-installer.

    APPOWNER=holke

    PROJNAME=$APPOWNER
    ENVNAME=$APPOWNER

    TARGETDIR=/home/vagrant
    PROJHOME=$TARGETDIR/proj
    PROJDI

[2015-05-31 21:16] hfv1606 commented on #174
I am happy django-cms is finally working. I tried to install it manually several times with different howto's but never succeded in a 100% working installation.

I tried to install djangocms by using a requirements file.
    pip freeze > requirements.txt
    pip install -r requirements.txt.

However that leads to:
    No distributions matching the version for djangocms-text-ckeditor==2.5.0b1

[2015-06-01 12:05] #174 closed

[2015-06-01 12:08] yakky commented on #174
@hfv1606 sorry, my comment was not entirely clear.
With the above PR I removed  requests from dependencies, as it's only used in a dead part of the code due to be removed and added examples to the libraries section of the documentation.
pip freeze reported a wrong version number as djangocms-text-ckeditor was installed from master branch. 2.5.0 has now been released so this is fixed too.
Expect a

[2015-06-04 06:54] harryprince opened #180 "I fail to start the cms"
I run virtualenv, python 2.7, django 1.7
[code]
when I run the project like this, it occur errors, Plz help me.
[code]

[2015-06-04 07:02] #180 closed

[2015-06-05 06:01] 0xf4 opened #181 "Failed to install properly - filer.migrations_django & djangocms-link"
Hi, I found two problems trying to use djangocms-installer with this options:
[code]
Problems found:
---------------
- I had to explicitly install djangocms-link (installation would fail otherwise).
- `filer` migrations are wrong in config/settings.py (should point to `migrations`, not `migrations_django`).

Steps to reproduce & correct the errors:
-----------------------------------------
[code]

[2015-06-05 16:56] yakky commented on #181
@0xf4 thanks for you comprehensive report!
The above PR fixes this. An update release is due in a few hours

[2015-06-05 17:48] #181 closed

[2015-06-19 15:10] rosco77 opened #185 "djangoCMS Installer not working with Pillow 2.8.0 on Ubuntu 14.04"
When trying to run djangoCMS installer on an Ubuntu 14.04 box it fails with Pillow 2.8.0.  The following output is shown

[code]
Followed guidelines in the above readthedocs pages but still failed.  Installer then worked when using Pillow==2.7.0

[2015-06-19 15:33] yakky commented on #185
Does pillow correctly compiles with jpeg/png when installing outside the installer? You can easily tell that as pillow prints a table of supported formats after installation

[2015-06-19 15:44] rosco77 commented on #185
I've actually logged this for someone else who was having a problem with the installer on the django-cms irc channel.  We tried installing Pillow outside the djangoCMS-installer with a normal django installation using a test import of a JPEG (taken from here https://gist.github.com/636693/f1bf002e349766ce993ce779c757ddaf76cfdfb4).

This passed as expected and we tried the recommendations a couple

[2015-06-19 15:56] yakky commented on #185
Ok, I'll try to use the above test. Possibly pillow 2.8 changed something in the Image.thumbnail handling

[2015-06-19 16:00] rosco77 commented on #185
Cheers Yakky.  Thanks for DjangoCon BTW.  Felt very inspired.  I'm hoping to get the new docs to you soon.

[2015-06-19 16:02] yakky commented on #185
Thanks. Currently working on new material regarding testing django / django CMS applications

[2015-07-01 13:29] evildmp opened #186 "Menu markup in Bootstrap theme renders landing pages inaccessible"
https://github.com/nephila/djangocms-installer/blob/2251f6e7689ce40ee7b99f84b524d3d3d335b1fa/djangocms_installer/share/templates/bootstrap/menu.html#L8

This is not an ideal configuration for the menu - in particular, it makes it impossible to use applications whose Apphooks include nice homepages, such as Events or News & Blog.

I think the behaviour of for example http://www.django-cms.org/en/bl

[2015-07-02 13:27] mkoistinen opened #187 "Add option to pre-install aldryn-apphook-reload"
=)

[2015-07-15 18:51] #185 closed

[2015-07-15 22:32] yakky commented on #178
Closing this due to missing feedback. Feel free to reopen if you have further information

[2015-07-15 22:32] #178 closed

[2015-07-15 22:32] yakky commented on #176
Done

[2015-07-15 22:32] #176 closed

[2015-07-27 09:06] philippeowagner opened #192 "[Question] Installing packages into global site-packages?"
[code]
Is it intended that packages are installed to the global ``site-packages``?

(Running OS X)

[2015-07-27 20:32] yakky commented on #192
@philippeowagner definitely not. But djangocms-installer relies on virtualenv / pip behaving properly. Any context regarding that error?

[2015-07-27 21:04] philippeowagner commented on #192
@yakky so virtualenv did't worked for me. Will try to reproduce and update the issue in case I have sth. useful for djangocms-installer. Thanks!

[2015-07-28 06:29] yakky commented on #192
You're welcome. Closing this. Feel free to reopen in case

[2015-07-28 06:29] #192 closed

[2015-07-28 08:25] philippeowagner commented on #192
Can't reproduce!

[2015-07-31 07:23] sunilsrikumar opened #193 "Pillow is not compiled with PNG and JPEG support"
Almost tired of this error :)
1.

/venv/local/lib/python2.7/site-packages/djangocms_installer/install/init.py", line 56, in check_install
EnvironmentError: Pillow is not compiled with PNG support, see 'Libraries installation issues' documentation section: http://djangocms-installer.readthedocs.org/en/latest/libraries.html.
Pillow is not compiled with JPEG support, see 'Libraries installation issue

[2015-08-02 17:10] yakky commented on #193
@sunilsrikumar is this #174 of any help? which version of djangocms-installer are you trying? the second error is due to some  python/pip conflicts regarding SSL management and it's not related to djangocms-installer

[2015-08-02 18:04] josh-atkins-dev opened #194 "Call to django-admin assumes django-admin.py in same dir as sys.executable"
# Problem
The installer (main.py) calls `django.create_project(config_data)` line 32, which fails with error:
[code]
if `django-admin.py` is not in the same directory as the python executable.
In my case here, the system executable is in `/usr/bin/python` but the django-admin.py is in `/usr/local/bin/django-admin.py`

# Set up
My `PATH` is `/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/

[2015-08-02 18:26] yakky commented on #194
@josh-atkins-dev djangocms-installer is meant to be used with virtualenv, and the absolute path is basically required to make this work in windows environment
The requiremdn for django-admin path is documented https://github.com/nephila/djangocms-installer#warning and it's not going to change soon, unless we can come up with a solution 100% working on Windows

[2015-08-02 19:32] josh-atkins-dev commented on #194
@yakky ah right I missed that, my mistake - thanks for the info re docs!

[2015-08-02 19:32] #194 closed

[2015-08-03 03:04] sunilsrikumar commented on #193
@yakky its djangocms-installer 0.7.9.

Agree, second error is due to python/pip conflict. Trying to resolve as referred in Django documentation but no luck. Would appreciate if you can help :) Thank you @yakky

[2015-08-08 08:35] yakky commented on #187
Blocked by aldryn/aldryn-apphook-reload#6

[2015-08-08 08:40] yakky commented on #193
what if you install pillow manually? Which libraries is compiled with?

[2015-08-11 15:27] frost-nzcr4 commented on #110
I've completed the ini config working task and this branch https://github.com/nephila/djangocms-installer/compare/develop...frost-nzcr4:ini-parse may be interesting for you as well. Also at work I need to get dump of config right after all parsing is completed — dump described here https://github.com/frost-nzcr4/djangocms-installer/compare/ini-parse...frost-nzcr4:ini-dump it helps me partially wor

[2015-08-12 06:26] yakky commented on #110
@frost-nzcr4 this is great! I want those, they look awesome and basically ready for merge (probably just adding ini format documentation)

[2015-08-12 08:22] frost-nzcr4 commented on #110
### config-file

Sample ini config with all available arguments https://github.com/frost-nzcr4/djangocms-installer/blob/ini-parse/config.ini.sample.
Run:

[code]

General config can be cutomised with any available arguments:

[code]

If config.ini not contains `no-input = true` and `-q` argument isn't set then one act as a placeholder with default values for wizard.

### config-dump

Dumps all arg

[2015-08-29 16:54] ZeroXn commented on #193
i had this 'jpeg' error too, but instead of trying to figure it out, i installed mezzanine, which uses the same pillow version and worked without a problem

[2015-08-29 17:02] yakky commented on #110
Fixed by #197
A great thanks @frost-nzcr4 for contributing this exciting feature

[2015-08-29 17:02] #110 closed

[2015-08-30 02:45] sunilsrikumar commented on #193
@yakky Unfortunately earlier it was not working. But Just now I tired djangocms-installer and got installed in one shot. Thank you so much for resolving the issue.

[2015-08-30 02:53] sunilsrikumar commented on #193
@ZeroXn I do agree with you. I'm a huge fan of Mezzanine and used it for 25+ projects till yet. Undoubtedly, mezzanine is smooth & awesome for beginners to expert. At the same time, I pledge my support to django-cms too.

[2015-08-30 21:27] yakky commented on #193
@sunilsrikumar @ZeroXn until 0.7.8 there was an incompatibility with some pillow versions / platforms. Newer version should be much more stable in this respect

[2015-09-02 13:08] muayyad-alsadi opened #201 "allow passing custom `pip install` options like `--no-index --find-links=~/wheels/`"
I usually pass `--find-links=~/wheels/` to `pip install` to cache all downloaded packages. please add `--pip-options` so I can type something like this

[code]

[2015-09-02 16:47] yakky commented on #201
Nice idea

[2015-09-03 07:48] muayyad-alsadi commented on #201
https://github.com/nephila/djangocms-installer/pull/202

[2015-09-25 08:49] formula123 opened #203 "fail to install depency on window 7"
I made my demo project according to document , But I found an error, I could not solve it. I have installed Python  3.5, also I have installed python 2.7.10 but didn't add to environment path.
#Here is report:
C:\Users\lxy>pip list
Django (1.8.4)
nester-zzl (1.0.0)
pip (7.1.2)
setuptools (18.2)
urllib3 (1.12)
virtualenv (13.1.2)

C:\Users\lxy>virtualenv env
Using base prefix 'c:\\users\\lxy\\appda

[2015-09-25 11:08] yakky commented on #203
@formula123 What happens if you install pillow beforehand (``pip install pillow``)
Also: Python 3.5 is not currently tested, so it's not guaranteed to work
Eventually check the FAQs http://djangocms-installer.readthedocs.org/en/latest/faq.html

[2015-09-27 18:56] #201 closed

[2015-09-29 13:19] fivethreeo commented on #193
On alpine linux i had to copy /lib/ to /usr/lib/ to get pillow to pick up zlib.

[2015-10-11 00:44] #203 closed

[2015-10-11 11:34] chriswayg opened #207 "djangocms: error: unrecognized arguments: --aldryn"
Hi,
Is this not supported any more? I get this error on 0.8.1.dev1
[code]
It is still shown as an option here:
https://github.com/nephila/djangocms-installer/blob/develop/docs/reference.rst

Chris

[2015-10-11 16:05] vmonteco opened #208 "djangocms-installer : requirements.txt can't fully be reused (a dependency is not available with pip)."
I've installed djangocms with the `djangocms-installer` pip package (using default choices).

Here is the output of `pip freeze` :

    dj-database-url==0.3.0
    Django==1.7.10
    django-appconf==1.0.1
    django-classy-tags==0.6.2
    django-cms==3.1.3
    django-reversion==1.8.5
    django-sekizai==0.8.2
    Django-Select2==5.2.0
    django-treebeard==3.0
    djangocms-admin-style==0.2.8
    d

[2015-10-11 19:31] yakky commented on #207
Removing the option from documentation.
Unfortunately newer aldryn boilerplates versions cannot be easily integrated

[2015-10-11 19:59] #207 closed

[2015-10-11 20:23] yakky commented on #208
@vmonteco Have a look at above PR. It dumps the requirements file when creating the project. Could you test it?

[2015-10-11 21:05] #208 closed

[2015-10-12 14:34] vmonteco commented on #208
The PR works and automatically creates a requirements.txt I can reuse. Thank you.
but if I install something else, will I have to manually modify the requirements.txt file? If I want to install something else, I can't manage it directly with pip or django-cms's dump mode? dump mode is still only usable at the building?

[2015-10-12 15:24] yakky commented on #208
dump mode only works at the beginning. It's normal practice to keep requirements.txt up-to-date whenever you add packages to recreate the environment when deploying.
djangocms-link 1.7 will be release in a few hours, anyway

[2015-10-15 07:16] #187 closed

[2015-10-27 02:35] ghachey opened #213 "Boostrapping fails with AttributeError: module 'html.parser' has no attribute 'HTMLParseError'"
On my MAC OS X bootstrapping fails with the following.

AttributeError: module 'html.parser' has no attribute 'HTMLParseError'
Failure occurred. Do you want to cleanup by removing /Users/ghachey/Development/Python/tutorial-project? [Y/N] Y

I have Python 3.5 installed using brew. I use Python's venv for virtual environment. This was done in a virgin virtual environment. I selected most default fro

[2015-10-29 16:46] yakky commented on #213
@ghachey only Django 1.8 is compatible with Python 3.5 (and only unofficially compatible AFAIK).
Currently installer ignores python version dependencies WRT Django and django CMS versions selection, so you have to know in advance the right Django version to install.
Making it python version aware is achievable, but can't provide an estimated schedule right now

[2015-10-30 07:21] ghachey commented on #213
Thanks. Yes, its a little deceiving that one selects a version only to be ignored :) But it's fine I had everything working soon after. Was just reporting to document this issue.

[2015-10-31 22:03] #213 closed

[2015-11-03 11:44] sedrubal opened #215 "CalledProcessError while pip install"
I tried to install djangocms with the djangocms-installer but it always failes. Tested on `fedora:22` and `ubuntu:14.04` with `python3` and `python2`. After answering the questions it takes some time and then this messages appear:

[code]

[2015-11-08 22:43] mfcovington opened #216 "Uses equivalent of Bootstrap 2 when Bootstrap 4 is soon to be released"
Bootstrap 3 allows its styling to look like Bootstrap 2 by using `bootstrap-theme.min.css`. When choosing the `Use Twitter Bootstrap Theme` option, `djangocms-installer` includes both the Bootstrap 3 stylesheet and this [Bootstrap 2 'reversion' stylesheet](https://github.com/nephila/djangocms-installer/blob/0306e9f5c11ab43acc099f8dcd7022bc2ad56f4a/djangocms_installer/share/templates/bootstrap/base

[2015-11-24 15:49] mkoistinen opened #217 "environment can only contain strings ("moved" from django-cms)"
Please see closed issue: https://github.com/divio/django-cms/issues/4755. It is closed on django-cms, but is current open here.

[2015-11-27 12:00] JimyRyan opened #220 "Error when make new project"
Hello,

I try making a new django cms project using the djangocms-installer (0.8.3) but this one crash :(

I'm using :
* OS : RHEL 6.7 (Cloud Plateforme OpenShift)
* Python 3.3.2
* Djangocms 3.2.0
* Django 1.8.7

I try many options but all the time the installer exit with this error : **ImportError: cannot import name urllib_parse**

Bellow, you can watch the error log :
[code]

[2015-11-28 02:00] evildmp opened #221 "Some packages are not installed (Debian, Raspberry Pi)"
I'm trying this out on a Raspberry Pi running Raspbian (in effect, Debian) Jessie in a Python 3.4 virtualenv.

After having apparently installed dependencies, and during the ``Creating the project`` phase, I'll get tracebacks.

First it was an import error for polymorphic. ``pip freeze`` confirmed it wasn't installed. ``pip install django-filer`` *did* install it, and I was able to continue.

Then

[2015-11-28 08:05] yakky commented on #221
Well, if you get tracebacks, it's entirely possible that packages are not installed, it's normal pip behavior.
But I agree that understanding what's going on during the project setup it's very tricky at times: I'm going to put some kind of "debug mode" in the installer to understand what's going on

[2015-11-28 08:15] yakky commented on #220
@JimyRyan could you provide the version of six, html5lib and ckeditor that has been installed in this environment?

[2015-11-28 10:17] evildmp commented on #221
@yakky Definitely, the (random) packages somehow did not get installed. But the tracebacks are not from pip, they are from a later command that assumed they were installed, and tried to import them.

So it seems to me that the pip commands exited without error, even though they didn't actually complete their work.

[2015-11-28 11:17] evildmp commented on #221
As you can see, the installer believes (I guess because pip has told it so) that all dependencies have been successfully installed:

[code]

[2015-11-28 13:01] yakky commented on #221
@evildmp thanks for your report. I need to get my hands on a Raspberry Pi!

[2015-11-28 13:23] evildmp commented on #221
@yakky maybe Debian Jessie and a Python 3.4 virtualenv would be good enough to reproduce.

[2015-11-28 13:41] yakky commented on #221
Nope :) I regularely use that combination in development and production servers, without issues

[2015-11-28 23:12] JimyRyan commented on #220
@yakky I'm using versions :
* six : I don't know (it's installed automaticly by pip
```remote: Requirement already satisfied (use --upgrade to upgrade): six in /opt/rh/python33/root/usr/lib/python3.3/site-packages (from djangocms-installer->-r /var/lib/openshift/565827d47628e15f80000030/app-root/runtime/repo/requirements.txt (line 4))```
* html5lib : 0.9999999
* ckeditor : 2.8.0

I don't install c

[2015-11-29 16:55] yakky commented on #220
@JimyRyan I cannot reproduce this issue. Maybe the virtualenv is created with ``--system-site-packages`` option? six should not be in ``/opt/rh/python33/root/usr/lib/python3.3/site-packages`` but in the virtualenv in ``/var/lib/openshift/565827d47628e15f80000030/python/virtenv/venv/``

[2015-11-29 21:45] evildmp commented on #221
This is what's installed, after running the installer, and also pip installing django-filer by hand.

Running Python 3.4.2, pip 1.5.6. Requests doesn't seem to be installed at all.
[code]

[2015-11-29 22:35] yakky commented on #221
@evildmp could you try to update to pip 7.1.2 before running the installer?

[2015-11-30 13:32] JimyRyan commented on #220
@yakky Hello, I setup an dev environment based on the same code and installed software, I have no problem ! I think, the trouble is with OpenShift... But where ?

[2015-11-30 13:39] JimyRyan commented on #220
@yakky I have setup a fresh development environment and I'm surprise to see that the installer work well on a similar OpenShift config.

I think the trouble is due to OpenShift environment, but I don't know what.

Have an nice day

[2015-11-30 13:49] yakky commented on #220
Thanks for the update. I don't have an openshift environment to check the original report, though :(

[2015-12-04 10:14] #220 closed

[2015-12-07 19:38] evildmp commented on #221
It works!

Updating pip to 7.1.2 does the trick. Thanks.

[2015-12-11 14:46] ojii commented on #42
+1

If a subcommand (eg pip install) fails, there's no way for a user to debug whatever issue there might have been. A flag to not hide all output (and remove -q from pip) would be really helpful.

[2015-12-12 07:21] yakky commented on #42
Work in progress in #223

[2015-12-12 07:22] yakky commented on #215
@sedrubal  Could you test the "verbose" branch providing --verbose option on the command line?

[2015-12-12 07:23] yakky commented on #193
@sunilsrikumar @fivethreeo @ZeroXn Could you test the "verbose" branch providing --verbose option on the command line? (use pip install https://github.com/nephila/djangocms-installer/archive/verbose.zip to update)

[2015-12-12 07:32] sunilsrikumar commented on #193
@yakky @ZeroXn @fivethreeo I think django-cms installer is much more stable now, all the packages including pillow are getting installed smoothly. djangocms3.2 release is awesome, I can see lot of code cleanup activity.

[2015-12-12 09:40] yakky commented on #193
@sunilsrikumar thanks for the heads up, and your kind words!

[2015-12-12 15:25] sedrubal commented on #215
I found out that  `djangocms-installer` installs `Pillow` and `Pillow` has [dependencies](https://pillow.readthedocs.org/en/3.0.x/installation.html#linux-installation), I have not installed. For fedora this is `python-devel` or `python3-devel`:

[code]

Additionally one need `gcc` to install Pillow which isn't documented on their [docs](https://pillow.readthedocs.org) - grml.

Please add a section

[2015-12-12 15:31] yakky commented on #215
@sedrubal it's documented https://github.com/nephila/djangocms-installer#caveats and http://djangocms-installer.readthedocs.org/en/latest/libraries.html in more details
I welcome any contribution regarding the correct library naming in all major distributions :)

[2015-12-12 15:52] sedrubal commented on #215
Ah ok... I don't have time to contribute and I don't know Restructured Text well... But please link `libraries` in `README`-installation section like this:

"Before using djangocms-installer verify you have all required libraries installed. See libraries for more info"

[2015-12-13 09:54] #193 closed

[2015-12-13 09:54] #215 closed

[2015-12-13 09:56] yakky commented on #216
@mfcovington removing ``bootstrap-theme.min.css`` as suggested.
Templates are still not meant as a base for "real" project templates, but just way to quickly setup an instance that does not looks ugly.
Not using bootstrap in my job it's hard for me to keep up with its releases.

[2015-12-13 10:06] #216 closed

[2015-12-13 10:07] #221 closed

[2015-12-13 10:09] yakky commented on #42
Fixed in #223 (there is still room for improvements, but it already proved useful in some cases)

[2015-12-13 10:09] #42 closed

[2015-12-13 13:52] sedrubal commented on #215
Thanks ;)

[2015-12-21 10:16] #217 closed

[2015-12-23 13:35] sobolevn opened #230 "djangocms-installer freezes on migrations"
I have a problem installing Django-CMS.

    (myenv)MacBook-Nikita:django_cms_test sobolev$ djangocms -p . landing
    Database configuration (in URL format) [default sqlite://localhost/project.db]:
    django CMS version (choices: 2.4, 3.0, 3.1, 3.2, stable, develop) [default stable]:
    Django version (choices: 1.4, 1.5, 1.6, 1.7, 1.8, stable) [default stable]:
    Activate Django I18N / L10N s

[2015-12-23 13:51] sobolevn commented on #230
I have solved the issue by moving to `djangocms-installer==0.8.4`. Now it works.

[2015-12-23 14:26] yakky commented on #230
@sobolevn horrible regression in 0.8.4 :(
Thanks for spotting this, preparing a hotfix release

[2015-12-23 16:01] #230 closed

[2015-12-23 16:02] yakky commented on #230
@sobolevn merged the hotfix, could you test https://github.com/nephila/djangocms-installer/archive/develop.zip

[2015-12-23 18:06] sobolevn commented on #230
Yes, it's fine now:

    Applying sessions.0001_initial... OK
    Creating admin user
    Username (leave blank to use 'sobolev'):

[2015-12-24 09:27] yakky commented on #230
@sobolevn thanks, releasing 0.8.5 shortly

[2016-01-01 12:23] sephii opened #232 "Display pip traceback if errors during install"
If you try to run the installer on a fresh Debian LXC you'll get the following error:

[code]
There are 2 things here:
* There's no default choice to the last question, causing the installer to raise an exception
* The `pip` failure comes from the fact that there were some libs missing that prevented the installation of Pillow (`libjpeg-dev zlib1g-dev python3-dev gcc`) and these are correctly repo

[2016-01-01 20:59] yakky commented on #232
@sephii for n.2 the new ``--verbose`` option in 0.8.4 should provide the required output. I'll check issue n.1

[2016-01-15 17:41] lwmonster commented on #161
I have the same problem,  what is the final solution?

[2016-01-16 06:31] yakky commented on #161
@lwmonster use djangocms-installer with ``--verbose`` option to get more information why the installation fails

[2016-01-17 14:56] lwmonster commented on #161
@yakky   with this command:  djangocms -f -p . --verbose mysite
I got this error:
[code]
But
[code]
in python is good.

[2016-01-17 15:14] yakky commented on #161
which python version / OS are you using?
What's the database connection string do you provide?

[2016-01-18 02:13] lwmonster commented on #161
@yakky
python 2.7.11
CentOS release 6.6 (Final)

DB string is default:
Database configuration (in URL format) [default sqlite://localhost/project.db]:
detailed message:
[code]

[2016-01-18 15:54] lwmonster commented on #161
@yakky  I have Googled for several days, can't find the answer......

[2016-01-18 19:00] yakky commented on #161
@lwmonster what's the console encoding / language / locale?

[2016-01-19 02:29] lwmonster commented on #161
@yakky

[code]

[2016-01-19 06:29] yakky commented on #161
@lwmonster could you try launching ``LANG='en_US.UTF-8' djangocms  -f -p . --verbose mysite``
I'd bet it's an encoding issue, given the output ``"񐁂򐁇N"`` looks suspicious

[2016-01-19 08:52] lwmonster commented on #161
Still the same error ......

[2016-01-20 09:34] maxkeogh opened #233 "Problem with cmsplugin-filer-image in latest installer"
Hi,

I set up a fresh install of DjangoCMS using this link as the guide: http://docs.django-cms.org/en/develop/introduction/install.html
I chose cms version 3.1, and django version 1.8. The install went fine and runserver brought up the standard page as expected. However, when I edited the page and added an image the plugin instance on the Structure page showed Image <Empty>
I have another cms ins

[2016-01-20 09:44] yakky commented on #233
@maxkeogh looks like an error in cmsplugin-filer plugin with django CMS 3.1, you'd better open an issue on https://github.com/divio/cmsplugin-filer repository, I think

[2016-01-20 09:55] maxkeogh commented on #233
Hi yakky,

Many thanks for this. I will do.

Best wishes
Max

[2016-02-04 11:33] zanderle opened #234 "Installer sets wrong settings for DATABASES for sqlite"
The installer sets the `DATABASES` dictionary slightly wrong for sqlite.

It sets

[code]

instead of

[code]

`CONN_MAX_AGE` value should be an integer, not a string.

The problem seems to be [here](https://github.com/nephila/djangocms-installer/blob/d4899ad4cbed89b4c82c411241e38ac031472ee8/djangocms_installer/django/__init__.py#L371)

The exception that follows this mistake (after running django

[2016-02-04 13:06] yakky commented on #234
@zanderle @jarshwah thanks for reporting this. Linked PR should fix the issue

[2016-02-04 14:35] #234 closed

[2016-02-04 23:08] #233 closed

[2016-02-05 06:59] #232 closed

[2016-02-11 12:03] yakky opened #239 "Improve cleanup message"
As suggested by @evildmp

# original

Failure occurred. Do you want to cleanup by removing /path/to/directory?  [Y/n]

# suggestion

The installation failed.

Do you want to clean up by removing /path/to/directory?

    Warning: this will delete all files in:

        /path/to/directory

Clean up? [N/y]

# note reversed yes/no default

[2016-02-11 12:04] yakky opened #240 "Skip cleanup phase if -s option is given"

[2016-02-23 21:03] yakky commented on #239
Fixed in #242

[2016-02-23 21:03] #239 closed

[2016-03-07 01:53] decemer opened #245 "cant create djangocms project on ubuntu aws"
cant create djangocms project on ubuntu aws
when i use"djangocms -f -p . mysite",it show
[code]
any other same issue too,thx

[2016-03-07 07:58] yakky commented on #245
Could you provide the full list of options you input in the wizard?

[2016-03-08 06:22] decemer commented on #245
[code]

[2016-03-08 22:09] yakky commented on #245
@decemer they apparently are two different errors. As stated in the documentation and the readme (https://github.com/nephila/djangocms-installer#warning) installer requires django-admin and python executable in the same directory, which is the default when using virtualenvs, which is the only supported way to install djangocms-installer

[2016-03-09 06:10] decemer commented on #245
okay,i have success in dafult setting,thank you

[2016-03-09 06:59] yakky commented on #245
You're welcome :)

[2016-03-09 06:59] #245 closed

[2016-03-18 15:11] akolpakov opened #246 "LOCALE_PATHS is not settled up if I choose several languages in wizard"
After installation with several languages, for example `en` and `se` I've got `settings.py` with several languages:
[code]

But without ``LOCALE_PATHS``. This variable is important for switching languages in middleware ``django.middleware.locale.LocaleMiddleware``. And after installation is impossible to use multi language website, because language is not switching by url ``http://mysite/se``. Suc

[2016-03-31 18:47] remram44 commented on #221
Ran into this today. The installer doesn't install django-polymorphic then fails because it cannot import polymorphic. Please fix.

[2016-03-31 23:45] yakky commented on #221
@remram44 are you on raspberry pi too? which are the cms / django version you chose? which version of the installer are you using?

[2016-04-01 14:07] remram44 commented on #221
Somehow it didn't reproduce when I started from scratch to make you a transcript today... might have been a quirk of pip (I did have to run the installer several times because dependencies failed to compile (I was missing libjpeg & the like), it's possible pip messed up. We all know how pip is...)

[2016-04-01 16:21] yakky commented on #221
@remram44 definitely, it's kind of temperamental! Feel free to open a new issue if you encounter this again

[2016-04-06 21:20] diramazioni opened #247 "can't dump config"
Greetings, just after the djangocms-installer wizard has gratefully finished, I wanted to dump the config.
following from [here](http://djangocms-installer.readthedocs.org/en/latest/usage.html )  I run
`djangocms -f -p . mysite`
`djangocms --config-dump config.ini -p . mysite`
and got
`Path "." already exists and is not empty, please choose a different one
If you want to use this path anyway use t

[2016-04-07 06:18] yakky commented on #247
@diramazioni config can't be (currently) dumped after the project has been created (at least not using the same path as the original project)
You can run ``djangocms --config-dump config.ini -p /other/path mysite`` though
Where did you find the wrong reference in the docs?

[2016-04-19 16:17] mkoistinen opened #248 "Attempt to install on Ubuntu 14.04 LTS fails inexplicably"
A user "mcjack" reported this on IRC, but didn't seem to want to open a ticket here, or provide a trace. So, I went to Digital Ocean and created a VPS. This is a brand new instance of a server. I first updated apt-get, then did a dist-upgrade, then the rest follows:
[code]

[2016-04-20 05:20] yakky commented on #246
@akolpakov sorry for missing this. ``LOCALE_PATHS`` does not play any role in URL recognition. It looks more like you did not enable i18n in the wizard options.
Adding explicit ``LOCALE_PATHS`` is a good idea anyway, so feel free to propose a PR to add it

[2016-04-20 17:00] m-aciek opened #250 "UnicodeDecodeError after running installer"
Hello, I've got an error when running `djangocms -p . my_demo`:
[code]
Regards,
Maciej

[2016-04-20 18:08] yakky commented on #250
@m-aciek could you provide the option you entered in the installer prompt?
Also what is the complete path of the current directory?

[2016-04-20 20:07] m-aciek commented on #250
I was unable to recreate the problem. It worked well as I was trying to recreate it. I'm very sorry for the hassle. At that time it crashed before any prompt.

[2016-04-20 20:07] #250 closed

[2016-04-20 21:47] yakky commented on #250
Sometimes transient connection error can trigger unexpected behaviors, thanks for updating the status

[2016-04-21 03:02] yakky commented on #248
I can't reproduce this
Have you installed binary libraries (http://djangocms-installer.readthedocs.org/en/latest/libraries.html#debian-ubuntu) after initial setup?

[2016-04-21 03:20] mkoistinen commented on #248
I did not, and I'd bet that was the same issue that the IRC-OP had.

[2016-04-21 03:20] #248 closed

[2016-05-05 16:41] eperzhand opened #251 "Duplicate INSTALLED_APPS in completely new raw project"
Dear nephila,

  Just created completely new project with djangocms -p test_site test_project
In test_site/test_project/settings.py I have 2 sections INSTALLED_APPS and ...MIDDLEWARE...

Its not a problem, but EvilDMP asked to file this.

[code]

[2016-05-05 16:53] yakky commented on #251
@eperzhand could please report the options you provided to the installer during the execution?
installer does a search & replace to edit the generated settings file. Format may have changed slightly resulting in the weird output

[2016-05-05 21:40] eperzhand commented on #251
all default + django 1.9

[2016-05-06 16:04] yakky commented on #251
@eperzhand confirmed. I wonder where this come from

[2016-05-06 16:19] yakky commented on #251
@eperzhand thanks, a typo in a regexp. A new versions will be issued soon to fix this

[2016-05-06 16:46] yakky commented on #251
Fixed in 0.8.8
@eperzhand thanks for reporting

[2016-05-06 16:46] #251 closed

[2016-05-06 17:52] eperzhand commented on #251
welcome

[2016-05-10 08:25] akolpakov commented on #246
Actually it plays role. In function [check_for_language](https://github.com/django/django/blob/master/django/utils/translation/trans_real.py#L418) django is trying to find language in locale paths. And if there is no language, it does not accept this path.
Call stack for this kind of request:
[code]

[2016-05-10 10:19] yakky commented on #246
@akolpakov could you provide a sample project that trigger this error? I can't reproduce this

[2016-05-17 15:57] Nekmo opened #255 "AppRegistryNotReady error using installer"
Traceback:
[code]

Pip freeze:
[code]

[2016-05-17 19:04] yakky commented on #255
@Nekmo can't reproduce this. which version of installer are you using?

[2016-05-17 19:48] Nekmo commented on #255
`djangocms-installer==0.8.8` with Python 3.4

[2016-05-17 21:00] yakky commented on #255
@nekmo could you please dump the requirements generated by the installer (see on how to generate them: http://djangocms-installer.readthedocs.io/en/latest/usage.html#dump-mode)? the packages does not make much sense (esp: classy tags, sekizai and htmllib). Is that a clean virtualenv?

[2016-05-18 16:25] Nekmo commented on #255
I had previously installed Django and Django Cms. I'll try a new virtualenv.

[2016-05-18 16:27] Nekmo commented on #255
I have not been able to reproduce it by installing a new environment. Sorry for the inconvenience.

[code]

[2016-05-18 16:27] #255 closed

[2016-05-18 19:03] yakky commented on #255
@Nekmo thanks for the feedback. It's always better to start witha  clean virtualenv each time.
Version 0.9 will fix this by having much stricter dependencies coupled with the chosen CMS / Django version

[2016-05-21 13:22] h3zTr0n commented on #174
The security feature installation below worked for me.
 # pip install pyopenssl ndg-httpsclient pyasn1

[2016-06-04 10:58] kyeljmd opened #257 "I have both python 2.7 and python 3 on my machine. Django-cms installer is using the 2.7"
I have both python 2.7 and python 3 on my machine. and then Installed virtualenv. Upon setting up django-cms on my virtualenv. this error churns out

[code]

How do I tell the djangocms-installer to use python3

[2016-06-04 11:06] yakky commented on #257
you have to create a python3 virtualenv
Usually something like ``virtualenv --python=/usr/bin/python3 myenv``

[2016-06-13 06:21] yakky opened #258 "Improve CLI help"
See divio/django-cms#5398

[2016-06-13 06:22] yakky opened #259 "0.9"

[2016-06-13 06:22] #259 closed

[2016-06-13 06:25] yakky opened #260 "Improve included templates"
Improve the included templates with better layout

Fix #186

[2016-06-21 18:51] mkoistinen opened #262 "Configurations to support Django < 1.8 needs to pin djangocms-link<1.1.0"
Its true.

[2016-06-21 21:38] yakky commented on #262
@mkoistinen you mean cmsplugin-filer < 1.1?

[2016-06-22 21:30] yakky commented on #262
@mkoistinen bump

[2016-06-25 17:46] lgmcode opened #263 "The installer raised an AttributeError: 'Settings' object has no attribute 'ROOT_URLCONF'"
Hello, when I try to install django-cms with this installer in a clean virtualenv with python2.7, I got this error at the end of the installation. The complete console output is printed below. Could you please figure out why I got this error.

(venv)lgm@myserver:~/testcms/mysite$ djangocms -f -p . mysite
Database configuration (in URL format) [default sqlite://localhost/project.db]:
django CMS ver

[2016-06-25 21:38] yakky commented on #263
@lgmcode thanks for this very accurate report. Could you try version djangocms-installer 0.8.10?
0.9b1 is largely untested in real projects and I don't advise to use it, yet.
If the error still occurs, could not clean the generated project and provide the generated settings file?

[2016-06-26 06:46] lgmcode commented on #263
I tried again with djangocms-installer 0.8.10, very unfortunate it failed again. The command I used and the log output is as below, and the generated settings file (122 lines) is pasted below too (It's strange that I can't attach it below, so it's rendered by markdown interpreter and is not easy to read, sorry for your unconvenient):

(venv)lgm@myserver:~/testcms/mysite$ pip install djangocms-inst

[2016-06-26 07:21] yakky commented on #263
@lgmcode thanks. settings file looks ok. is ``DJANGO_SETTINGS_MODULE`` set in your environment, perhaps?

[2016-06-26 07:22] yakky commented on #263
@lgmcode could you try installing this version https://github.com/nephila/djangocms-installer/archive/feature/pin_plugins.zip?

    pip install https://github.com/nephila/djangocms-installer/archive/feature/pin_plugins.zip

[2016-06-26 07:23] yakky commented on #263
could you also post the result of ``pip freeze``? Is the virtualenv created from scratch?

[2016-06-26 12:46] lgmcode commented on #263
DJANGO_SETTINGS_MODULE is not set in my environment, `echo $DJANGO_SETTINGS_MODULE` outputs nothing, `pip freeze` outputs three package names:

[code]

I tried this new version:
`pip install https://github.com/nephila/djangocms-installer/archive/feature/pin_plugins.zip`
but it still failed as before, the generated settings.py changes nothing except for a different SECRET_KEY

Oh yes, my OS is Ubun

[2016-06-26 12:48] yakky commented on #263
@lgmcode did you run the ``pip freeze`` before or after the installer run?

[2016-06-26 14:39] lgmcode commented on #263
This `pip freeze` is executed before the installer run.
I would have wanted to paste the output of `pip freeze` after the installing, but my server just encountered some network problems. I'll do that tomorrow after the network returns to normal.
Thanks a lot for your patience, I really want to install this django-cms.

[2016-06-26 14:49] yakky commented on #263
@lgmcode thanks for your tests. I'm really wondering where this error comes from. Whenever you are able to run the tests again, please post a ``pip freeze`` after installer run. BTW: You installed the installer in the clean virtualenv, right?

[2016-06-26 16:21] lgmcode commented on #263
I think it's clean. I didn't install any packages in the global python environment, and every time before running this installer I create a new virtualenv.

[2016-06-26 16:39] yakky commented on #263
thanks for the updates. Scratching my head about the causes of the failure.
Another approach is using dump mode (http://djangocms-installer.readthedocs.io/en/latest/usage.html#dump-mode) to enerate the requirements file, installing the packages manually using pip and then launching the installer again with the same options plus ``-n`` to generate the project. This alows to isolate package installa

[2016-06-26 16:43] yakky commented on #263
The line in you settings file that reads ``Generated by 'django-admin startproject' using Django 1.9c1.`` is kind of surprising. That should actually display ``1.8.13`` or ``1.9.7`` according to the selected Django version.
Does your pip uses the ``--pre`` flag by default?

[2016-07-13 12:56] jeltoesolnce opened #265 "Falls when trying to get localzone from tzlocal"
Hello. I can't run djangocms -p . my_demo: I get such error

(test)[jeltoesolnce@twin ~/data/www]% djangocms -p . my_demo
Traceback (most recent call last):
  File "/usr/home/jeltoesolnce/.virtualenvs/test/bin/djangocms", line 11, in <module>
    sys.exit(execute())
  File "/usr/home/jeltoesolnce/.virtualenvs/test/lib/python2.7/site-packages/djangocms_installer/main.py", line 15, in execute
    co

[2016-07-14 07:26] yakky commented on #265
@jeltoesolnce which is your local timezone as reported by your system tools?

[2016-07-14 07:47] yakky commented on #262
Fixed in #264

[2016-07-14 07:47] #262 closed

[2016-07-14 07:47] #257 closed

[2016-07-14 07:47] yakky commented on #247
Closing due to lack of feedback

[2016-07-14 07:47] #247 closed

[2016-07-14 07:48] yakky commented on #246
Closing due to lack of feedback

[2016-07-14 07:48] #246 closed

[2016-07-14 07:49] yakky commented on #265
@jeltoesolnce could you please try https://github.com/nephila/djangocms-installer/archive/hotfix/timezone.zip branch?

[2016-07-14 08:42] yakky commented on #164
Fixed by #267

[2016-07-14 08:42] #164 closed

[2016-07-14 16:12] jedie opened #268 "wrong clis in /docs/usage.rst"
https://github.com/nephila/djangocms-installer/blob/develop/docs/usage.rst
contains cli's like:

- **djangocms_installer**
- **djangocms-start**

But all should be **djangocms** isn't it?

[2016-07-14 16:17] jedie commented on #268
fix in pull #269

[2016-07-14 16:20] yakky commented on #268
Thanks for reporting and fixing this!

[2016-07-14 17:02] #268 closed

[2016-07-15 10:16] leesolway opened #270 "Installation error with ckeditor"
Using the installer in a clean virtualenv:
I am not sure if this is the correct repo to raise the bug in:

Please wait while I install dependencies
Dependencies installed
Creating the project
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/lee/.virtualenvs/example/lib/python2.7/site-packages/django/core/management/_

[2016-07-15 15:16] yakky commented on #270
Related to divio/djangocms-text-ckeditor#/335

I will pin the html5lib version in the installer too

[2016-07-15 15:17] yakky commented on #270
@leesolway try running installer again. The new versin of ckeditor should fix the issue

[2016-07-15 15:24] yakky commented on #265
Fixed in #266

[2016-07-15 15:24] #265 closed

[2016-07-15 15:50] jeltoesolnce commented on #265
I did it:

Please wait while I install dependencies
Dependencies installed
Creating the project
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/home/jeltoesolnce/.virtualenvs/test/lib/python2.7/site-packages/django/core/management/__init__.py", line 354, in execute_from_command_line
    utility.execute()
  File "/usr/

[2016-07-15 15:56] yakky commented on #265
@jeltoesolnce the error in the second run is #270 Fixed in #271

[2016-07-15 17:44] yakky commented on #270
Fixed in  #271 released in 0.8.11
@leesolway thanks for reporting this

[2016-07-15 17:44] #270 closed

[2016-07-15 17:45] yakky commented on #263
@lgmcode did you manage to reproduce this?

[2016-07-15 20:33] #240 closed

[2016-07-15 21:14] #258 closed

[2016-07-22 12:54] lgmcode commented on #263
Sorry, I didn't continue using this installer after that, instead I installed the django-cms by hand and it works fine now, but still thanks for your help.

[2016-07-22 15:58] yakky commented on #263
Good you still managed to install django CMS :)

[2016-07-22 15:58] #263 closed

[2016-08-15 18:12] fakegit opened #275 "djangocms-installer bug with conda"
I used conda to create python env on my win7 amd64 pc.

**django-admin.py** file is in the root python's subdir '/Scripts/' folder.
but **djangocms-installer** try to find the **django-admin.py** in the python root.

[2016-08-15 22:14] yakky commented on #275
The path of django-admin is currently a requirement of djangocms-installer (as documented https://github.com/nephila/djangocms-installer#warning).
Installer is currently only tested with **virtualenv**

[2016-08-16 11:15] fakegit commented on #275
I see.
And I fixed the problem myself,
I find the file **djangocms_installer.django.__init__.py**, and change line 42
`start_cmd = os.path.join(os.path.dirname(sys.executable), 'django-admin.py')`
to
`start_cmd = os.path.join(os.path.dirname(sys.executable), 'Scripts', 'django-admin.py')`
It works.

[2016-08-16 11:32] yakky commented on #275
@fakegit unfortunately this change is not portable. As I am not familiar with Conda, is there any way to discover a conda environment, instead of a virtualenv one?

[2016-08-17 16:52] fakegit commented on #275
Conda install the default python and envs in the directory **Miniconda3**:
_Miniconda3/python.exe_
_Miniconda3/envs/some_env/python.exe_
But you can change the directory as you like, so not a good solution to check **Miniconda3** in python's executable dir.

Maybe bellow is considerable:

[code]
I'm not a good pythoner, sorry for my poor code.

[2016-08-22 15:11] yakky opened #276 "Make -q the default"
To make it possible to just run without any option except project name

[2016-08-26 16:55] maoaiz opened #278 "SystemCheckError: System check identified some issues"
I'm trying to install Django CMS using djangocms-installer==0.8.11.

I'm using virtualenv, I've created a enviroment and I've installed the installer using `pip install djangocms-installer`. If I run `djangocms -p /my/path my_cms` according the [install section](https://www.django-cms.org/en/#install) in the Django CMS web, I have the next error:

[code]

[2016-08-26 18:41] maoaiz commented on #278
According [the documentation](http://docs.django-cms.org/en/release-3.3.x/introduction/install.html) realize that is necesary install django-filler using `-f` option. I think that the error message is not clear.

[2016-08-26 20:13] yakky commented on #278
@maoaiz actually the error you reported is due some changes occurring in djangocms-video
They will be addressed in upcoming version 0.8.12

[2016-08-27 11:14] yakky commented on #278
Fixed in b193de81b609c048a99c0fa2a2b420e1084398e8
@maoaiz thanks for reporting this

[2016-08-27 11:14] #278 closed

[2016-08-27 11:20] yakky commented on #275
@fakegit thanks I'm going to integrate your proposed code in 0.9

[2016-08-27 12:12] #276 closed

[2016-08-27 12:40] #275 closed

[2016-09-06 08:06] yakky opened #284 "Disable enabling permissions by default"

[2016-09-11 00:26] yakky opened #286 "Pin plugins version for django CMS 3.4"
Fix plugins version for django CMS 3.4

[2016-09-11 00:26] yakky commented on #286
Ping @czpython

[2016-09-11 09:53] #284 closed

[2016-09-15 14:47] yakky commented on #286
Fixed in #287

[2016-09-15 14:47] #286 closed

[2016-09-19 11:14] jankrnavek opened #288 "cannot run djangocms -s -f -p . web"
djangocms-installer (0.9)
djangocms (3.4.0)
python 3.5.1 (64b)

Here are my commands.

cd /home/webhosting/cms/
/opt/python3/bin/virtualenv env --always-copy
 cd /home/webhosting/cms/; source env/bin/activate;
 pip install djangocms-installer
djangocms -s -f -p . web

-------------------------------------   ERROR MESSAGE ---------------------------------------
Applying filer.0004_auto_20160328_143

[2016-09-19 11:32] jankrnavek commented on #288
Sorry for false issue,   command  "djangocms -w web"  is working for me fine.
Hanz

[2016-09-19 11:32] #288 closed

[2016-09-19 14:02] sproctor opened #289 "Error installing with -p ."
There appears to be a mistake in ```django/__init__.py```

https://github.com/nephila/djangocms-installer/blob/develop/djangocms_installer/django/__init__.py#L407 should be project_path, not project_directory.

[2016-09-21 19:21] yakky commented on #289
@sproctor thanks for reporting. PR #290 will fix that.
0.9.1 will be released soon including this fix

[2016-09-21 20:00] #289 closed

[2016-09-30 13:49] lukasgarcya opened #291 "Djangocms failed in install because timezone incorrect"
I try install the Django CMS and I receive the error: ValueError: Incorrect timezone setting: local
The installation has failed.
![error djangocms](https://cloud.githubusercontent.com/assets/1985696/18993844/905ea0ba-86fb-11e6-8368-326401329cdb.png)

[2016-10-02 18:31] yakky commented on #291
@lukasgarcya commit f7995036ed36b6e494b4ea84cc8856e85fb565df should fix the issue

[2016-10-02 20:38] lukasgarcya commented on #291
I noticed that the problem is due to the installer does not display the options for installation.

[2016-10-02 20:46] lukasgarcya commented on #291
New error because the installer does not display options for installation.
![error djangocms 2](https://cloud.githubusercontent.com/assets/1985696/19023579/16969f34-88c8-11e6-91cc-8b7095508f53.png)

[2016-10-02 21:01] yakky commented on #291
From version 0.9 batch mode is the default. You can resume the wizard mode by adding -w option in the command line. What's your system timezone BTW?

[2016-10-02 21:08] lukasgarcya commented on #291
My system timezone is UTC -03:00.

[2016-10-02 21:11] yakky commented on #291
I meant the content of /etc/timezone file

On 2 October 2016 23:08:28 CEST, "Lucas Garcia de Araújo" <notifications@github.com> wrote:

[2016-10-02 21:13] lukasgarcya commented on #291
This file is empty.

[2016-10-02 21:15] yakky commented on #291
This is the cause of the issue, then. I will investigate tomorrow reproducing the issue with an empty file (hopefully). Thanks for the additional information

On 2 October 2016 23:13:10 CEST, "Lucas Garcia de Araújo" <notifications@github.com> wrote:

[2016-10-02 23:48] czpython commented on #291
Hi @lukasgarcya,
Just a little background regarding the no options change.

In the past, our default was for the installer to be interactive.
Based on user feedback we've realized that this can be a bit confusing to newcomers who want to get up and running quickly. As a result we've made the non-interactive option the default but you can still use get the interactive prompts by passing the `-w` fl

[2016-11-29 11:55] yakky commented on #291
So far I've been unable to reproduce the issue
However, installer 0.9.2 ships with a workaround that should prevent any error like this fallbacking to UTC

[2017-01-06 09:22] ashrafmys opened #298 "Returned Non-Zero Exit Status -9"
Hi all,
I keep getting this error when running this installer. Any idea why ?

`Traceback (most recent call last):
  File "/home/ashr/env/bin/djangocms", line 11, in <module>
    sys.exit(execute())
  File "/home/ashr/env/local/lib/python2.7/site-packages/djangocms_installe                                                                                        r/main.py", line 41, in execute
    dj

[2017-01-06 10:02] yakky commented on #298
could you provide the version yand the full arguments / options you use?
Also, try to run it with ``--verbose`` , which will provide more detailed output

[2017-01-07 04:38] ashrafmys commented on #298
Hi yakky. Thanks for the response.

Additional info:
OS : ubuntu 16.04.1 LTS
Python version : 2.7.12

I turned on the verbose like you said and follow exactly like what's on the official tutorial page

Below is the parameters and output:

`
(env) ~/tutorial$ djangocms --verbose -f -p . mysite
Creating the project
Please wait while I install dependencies
Package install command: install django-cms<

[2017-02-15 03:46] superduper opened #299 "django-cms now supports django >=1.10"
Hi!

`django-cms` in 3.4.2 supports recent `django` version: https://github.com/divio/django-cms/commit/dd1b6ee9fca1e1bb23de5475a492270c8a27285d

I wonder what would it take to update `djangocms-installer` to use `django-cms>=3.4.2` along with `django>=1.10`.

UPD: I documented [how I manually updated generated project](https://gist.github.com/superduper/adb941c3b0158c343b14d089c1f60efe)

Best,
Vi

[2017-02-15 20:23] yakky commented on #299
Version 0.9.4 relased on Jan 3rd already provides support for Django 1.10 with django CMS 3.4

[2017-02-15 22:01] superduper commented on #299
@yakky Awesome. Thanks! I didn't see that b/c develop branch shows outdated info and pypi has 0.9.3 package. Will use github version with pip then.

[2017-02-15 22:01] #299 closed

[2017-02-15 23:35] yakky commented on #299
@superduper awww snap! I don't know why 0.9.4 wasn't on pypi. I just uploaded it (and synced develop in the process)
Thanks for reporting!

[2017-02-16 07:36] superduper opened #300 "Install failure with --django-version=1.10"
Install fails when `--django-version=1.10` is supplied. Caused by string paths to view in `urls.py`. More details on `urls.py` compat : [django release notes v1.9](https://docs.djangoproject.com/en/1.9/releases/1.9/#passing-a-3-tuple-or-an-app-name-to-include)

Environment:
[code]

Steps to reproduce:
[code]

Error log:

[code]

[2017-02-16 07:38] superduper commented on #299
@yakky Thank you for releasing `0.9.4`. I tested it with django 1.10 and it failed. See #300 for details.

[2017-02-16 07:52] yakky commented on #300
@superduper Thanks for spotting.
I opened a PR that fixes this. 0.9.5 is on the way

[2017-02-16 08:05] yakky commented on #298
Sorry, I lost this notification. Unfortunately it looks like some unforeseen failure in migrate.
Could you launch python manage.py migrate from the tutorial directory to hae a more detailed report?

[2017-02-16 08:38] yakky commented on #300
@superduper you can now check the release/0.9.x branch waiting for 0.9.5 release

[2017-02-16 09:49] superduper commented on #300
@yakky Nice!
[code]

[2017-02-16 09:50] yakky commented on #300
Thanks @superduper 0.9.5 is coming, then!

[2017-02-16 09:52] #300 closed

[2017-03-12 07:45] fvgoto opened #304 "ImportError context_processors: needs update to django.template.context_processors"
After using djangocms-installer for a fresh project, my site shows an `ImportError: No module named context_processors`.

Problem: `settings.py` generated by djangocms-installer contains `context_processors` that are wrongly taken from `django.core.context_processors` instead of `django.template.context_processors` for Django 1.8+. Manually replacing `core` by `template` fixes the ImportError.

Fr

[2017-03-12 09:26] yakky commented on #304
Installer used to be compatible with many versions of Django, we took then the lowest common denominator approach when adding django versions. This issue, though, has been completely missed when working on Django 1.10
Attached PR should resolve this, as well as having a better approach at new middleware classes

[2017-03-12 09:42] fvgoto commented on #304
@yakky Wow! what a speed!
Thanks!

In the meantime, I finally got rid of `'WSGIRequest' object has no attribute 'current_page'`, which is exactly what you PR'ed in the same go:
- `cms.middleware` are new-style middleware -compatible since `3.4.2`
- Having both, `MIDDLEWARE` and `MIDDLEWARE_CLASSES` in the `settings.py` (as generated by djangocms-installer) seems only to take `MIDDLEWARE` (disregar

[2017-03-12 09:45] yakky commented on #304
thanks for your feedback
I think I will release 0.9.6 today

[2017-04-11 10:13] cezar77 opened #306 "Correct white space and imports in settings.py generated by djangocms-installer"
The `settings.py` generated by `djangocms-installer` is not very well formed. There are 3 general issues that bother me:

**1. The module `os` is imported twice.**

The first 3 lines of `settings.py` are:

    import os
    gettext = lambda s: s
    DATA_DIR = os.path.dirname(os.path.dirname(__file__))

After that a docstring follows and the following lines:

    # Build paths inside the project l

[2017-04-17 10:18] yakky commented on #306
The problem with settings.py formatting is that installer uses string replacing over the one generated by django-admin for improved compatibility with different django versions
The ``TEMPLATES`` indentation should be now easy to fix as we don't need to support old syntax anymore, others might be more problematic
If you want to propose improvements, feel free to open PRs

[2017-05-27 06:33] mikemcgowan opened #308 "Installer generates a settings.py that fails pep8"
Version `djangocms-installer==0.9.6` creates a `settings.py` with several PEP8 violations:

[code]

[code]

[2017-06-02 19:44] jbarrett1205 commented on #291
I had this issue today with a fresh pip install of djangocms-installer.  I traced the problem to the "tzlocal" package, which attempts to determine the local timezone.  The tzlocal.get_localzone() function for *nix systems goes through a series of checks to try to find the timezone setting.  For my system, which is running Fedora 20, the method it fell back to was to look at the path of "/etc/loca

[2017-06-03 15:24] yakky commented on #291
@jbarrett1205 as a workaround you can also use the "timezone" parameter https://djangocms-installer.readthedocs.io/en/latest/reference.html#wizard-arguments to provide a specific timezone, ignoring the autodetection

[2017-07-10 13:51] matthijskooijman opened #309 "Does not look for django-admin.py in PATH"
For some reason, the installer looks for `django-admin.py` in (only) the directory where `python` is installed, which presumably works when python is installed using virtualenv and then pip installs django.

However, when running a system-wide python from `/usr/bin`, with pip installations going into `/usr/local/bin/` or `~/.local/bin`, this fails to find django-admin.py:

[code]

The code for thi

[2017-07-10 14:01] matthijskooijman opened #310 "Cannot handle spaces in project path"
When the project path includes a space, the installer breaks:

[code]

The problem comes from these lines: https://github.com/nephila/djangocms-installer/blob/develop/djangocms_installer/django/__init__.py#L56-L59

There, the command to run is joined into a single string, without proper escaping, and then passed to the shell to split again. There does not seem any point to this, since the argument

[2017-07-10 14:06] matthijskooijman opened #311 "Silently downgrades django"
With the default options, the installer tries to install the lts version of django, currently 1.8. It does this by using a [less-than version requirement](https://github.com/nephila/djangocms-installer/blob/develop/djangocms_installer/config/__init__.py#L290). However, is django is already installed, this causes pip to *downgrade* django, causing all sorts of breakage for existing projects.

I wou

[2017-07-14 05:15] yakky commented on #309
The use of a virtualenv is a prerequisite for djangocms-installer.
Supporting other layouts in a multi-platform way has proven overly complex and unreliable and I have no plan to add it

[2017-07-14 05:17] yakky commented on #310
Thanks for reporting

[2017-07-14 05:22] yakky commented on #311
As djangocms-installer goal is to bootstrap new projects (in presumely new virtualenvs), the version managment logic is already quite complex (as it takes into account version dependencies between Django, django CMS and django CMS dependencies) and the django version can be provided (both in the command line version as well as in the wizard) I'd like to minimize the extra logic added here
Maybe tr

[2017-07-14 07:38] matthijskooijman commented on #309
With the changes proposed above, the installer seems to work (at least run without errors) in my environment, so that might be good to add. I'm not actually working with django-cms currently, so I can't provide more support than this, so if you want to close this, feel free.

[2017-07-15 10:10] yakky commented on #309
@matthijskooijman thanks for the suggestion. after a few tests, it seems a sensible solution for your use case that does not breaks the other environments
#313 implements the suggested code

[2017-07-15 10:29] yakky commented on #308
Settings.py is generated by doing ``string.replace`` on ``settings.py`` generated from ``django-admin startproject`` to be as forward compatible as possible and reduce the compatibility issues.
This leads less than optimal formatting, but has proven quite robust despite the huge changes in settings.py since the inception of this project.
As the generated ``settings.py`` will need further editing t

[2017-07-15 10:29] #308 closed

[2017-07-15 10:33] yakky commented on #298
Did you manage to make this work, do you have any further information to provide?

[2017-07-15 10:38] yakky commented on #291
I'm closing this.
djangocms installer provides:
* a command line argument to force a specific timezone (http://djangocms-installer.readthedocs.io/en/latest/reference.html#wizard-arguments)
* fallbacks to ``UTC`` if cannot discover local timezone

[2017-07-15 10:38] #291 closed

[2017-07-15 11:39] yakky commented on #310
Closed via #313

[2017-07-15 11:39] #310 closed

[2017-07-15 11:39] yakky commented on #309
Closed via #313

[2017-07-15 11:39] #309 closed

[2017-08-09 18:34] GasparPizarro opened #315 "Hangs on "Please help while I install dependencies""
Based on [the "community" tutorial](`https://www.django-cms.org/en/,`) I created a virtualenv and installed `djangocms-installer` via `pip`. But when I create a project with the `djangocms` script it hangs while "Please wait while I install dependencies".

[code]

... And it does not do anything for an hour.

[2017-08-11 12:21] yakky commented on #315
@GasparPizarro are you able to install packages via pip?
Apparently pip was stuck trying to download packages
That message is provided only during the ``pip install`` phase
You can try to collect more information by using the ``--verbose`` argument

[2017-10-14 20:16] LEEVE commented on #298
Ubuntu 16.04.3 x64
Python 3.5.2

I've tried to do this many times, and I get the same results:
The project gets created but I get this error, so I am not sure what is missing from the files that are being added under my cmsproject, and why I get this error??
Here is a list of the files created

cmssite  create_user.py  manage.py  media  project.db  static

__init__.py  __pycache__  settings.py  st

[2017-12-26 13:47] sunmoonone opened #316 "Use MIDDLEWARE_CLASSES instead of MIDDLEWARE in settings.py generated for django<1.10"
Use MIDDLEWARE_CLASSES instead of MIDDLEWARE in settings.py generated for django<1.10

Their will be problems when open cms page while using MIDDLEWARE:
`'WSGIRequest' object has no attribute 'user' `

[2017-12-31 08:50] yakky commented on #316
@sunmoonone that should be the case. I just created a project using the defaults (i.e.: Django 1.8) and `MIDDLEWARE_CLASSES' has been added, instead of `MIDDLEWARE`
Can you report the exact version and command you used to generate the project?

[2018-01-03 18:46] yakky commented on #306
Fixed by #314
Thanks @cezar77 for reporting

[2018-01-03 18:46] #306 closed

[2018-01-17 16:12] marksweb opened #321 "I18n URL patterns regardless of I18n setting"
I've just setup a project with 1.0.0rc1 & opted for I18n to be disabled, but the URLs get generated with i18n patterns, resulting in a 404 after I've logged in as it loads `/en/` for example.

Looks like the app needs two versions of `urls.py` for the two outcomes of the i18n setting. This looks like a simple change in `copy_files()` so I might fork the repo & try to resolve this.

[2018-01-17 18:17] yakky commented on #321
@marksweb that would be awesome!

[2018-01-17 18:38] marksweb commented on #321
@yakky no problem.

I've only looked at the code for the first time since raising this, but hopefully I've got the right idea as to how it all works;
https://github.com/nephila/djangocms-installer/compare/develop...marksweb:feature/non-i18n-urls?expand=1

Got 2 failing tests at the moment, so just trying to see why before checking coverage & trying to test for `i18n` enabled & disabled as to what

[2018-01-17 19:09] yakky commented on #321
@marksweb looks good. I'd just keep the files in the same directory naming something like `urls_i18n.py`, `urls_noi18n.py` as the target for `shutil.copy` includes the filename. This will keep it consistent.
Which tests are failing?
installer tests are kind of tricky, unfortunately

[2018-01-17 19:23] marksweb commented on #321
@yakky ok, that makes sense, thanks.

These two are failing at the moment, but I can't see yet how anything I've done might have caused it.

[code]

[2018-01-17 20:05] yakky commented on #321
@marksweb checking briefly. you can eventually remove the asserts at the end of the test and add a couple of prints in the tests:
[code]
I'll pull your branch to check myself

[2018-01-17 21:53] yakky commented on #321
@marksweb it appears to be fixed in our branch, right?

[2018-01-17 23:22] marksweb commented on #321
@yakky I've just ran the test suite from the develop branch & got the same 2 failures.

Not sure if there is something funny going on with my mac. Essentially I've cloned the project, created a venv for it, installed `requirements-test.txt` to that venv, then ran `python setup.py test` from the project root.

That should do what we want from a python project and run your test suite in an isolated

[2018-01-17 23:34] yakky commented on #321
Locally they run ok
Can you open a pull request anyways? Let's see what Travis says
The test procedure it's correct (you can also use tox -epyXY to automate the tests)

[2018-01-18 08:51] #321 closed

[2018-03-14 18:08] darkhellmgr commented on #315
yeah same here i also got stuck in same phase and waited for an hour but nothing happens. please help

[2018-03-14 20:42] yakky commented on #315
which installer version? did you rung with ``--verbose`` argument?

[2018-03-14 20:46] GasparPizarro commented on #315
djangocms mysite --verbose
Creating the project
Please wait while I install dependencies
Package install command: install django-cms>=3.5,<3.6 djangocms-admin-style>=1.2,<1.3 django-treebeard>=4.0,<5.0 https://github.com/divio/djangocms-text-ckeditor/archive/master.zip?1521060397.8256114 https://github.com/divio/djangocms-file/archive/master.zip?1521060397.8256114 https://github.com/divio/djangocm

[2018-05-25 11:22] abdelwahebmoalla opened #324 "Incorrect time zone settings Ubuntu"
after I followed the tutorial when i wanted to run the project  with python manafe.py runserver i got this exception

Traceback (most recent call last):                                                                                        File "manage.py", line 22, in <module>                                                                                    execute_from_command_line(sys.argv)

[2018-05-27 08:43] yakky commented on #315
Thanks for the update
when it's stuck, the issue is always on the network side.
We don't have any control on the packages installation progress and we can't thus provide any feedback regarding what's going on
I added a slightly different working in 94d1e5e1b756dff2aad0a0db827455da198213e9 but I'm afraid it's the only thing we can do

[2018-05-27 08:43] #315 closed

[2018-06-01 21:02] afs2015 opened #328 "html5lib issue causing AttributeError"
After following the [django cms installation tutorial](http://docs.django-cms.org/en/latest/introduction/install.html) I got an attribute error when attempting to make my first page after hitting the green "Create" button.

I was able to fix it by running `pip uninstall html5lib` and then `pip install html5lib` which put html5lib 1.0.1 which appears to work. I believe the issue is with the current

[2018-06-02 02:38] abdelwahebmoalla commented on #324
I used the last version provided by pip and I executed the command djangocms my_project
I solved the issue by changing local to UTC

[2018-06-02 11:27] yakky commented on #328
This should have been fixed by #327  (by pinning djangocms-text ckeditor)
We should be able to make a patch release by this weekend

[2018-06-03 17:44] yakky commented on #324
@abdelwahebmoalla could you test the latest develop to see if the issue is fixed for your previous timezone setting?

thanks

[2018-06-03 18:06] yakky commented on #328
1.0.1 with the #327 has been released
thanks for the heads up

[2018-06-03 18:06] #328 closed

[2018-06-03 23:28] afs2015 commented on #328
Thanks for fixing this!

[2018-06-04 06:14] yakky commented on #328
@afs2015 thanks for the update!

[2018-06-12 19:53] czpython opened #329 "Invalid settings.py on latest version"
I installed latest version of installer and ran:

[code]

then got an invalid settings file:

[code]

Notice the `# Application definition`

[2018-06-19 20:58] yakky commented on #329
@czpython I can't reproduce this.
Can you provide OS version / virtualenv pip freeze?

Attached the resulting settings running your command with `djangocms-installer==1.0.1` (installing Django 1.11.3)
[code]

[2018-06-19 22:00] czpython commented on #329
@yakky
Here's a Dockerfile that reproduces the issue:

[code]

You'll see that the `djangocms` command fails on `migrate`, if you step into the container and check the settings, you'll see the issue.

[2018-06-20 07:31] yakky commented on #329
Thanks, will check shortly

On 20 June 2018 00:00:38 CEST, Paulo Alvarado <notifications@github.com> wrote:

[2018-06-27 06:56] evildmp opened #330 "Detect if an incompatible DJANGO_SETTINGS_MODULE is set"
With:

* `pip==10.0.1`
* `Python==3.5.2`
* in a Docker environment

the `startproject` command exits with a status 1:
[code]

However the same user @mnieber reports that it works on the host on the same machine.

In addition, with ``pip==10.0.1``, a warning is raised about the combination:
[code]

[code]

It's not clear yet whether the warning is related to the error (I can reproduce the warning,

[2018-06-27 11:41] evildmp commented on #330
From https://github.com/divio/djangocms-column/issues/36:

[2018-06-27 19:16] yakky commented on #329
@czpython I ran the Dockerfile you posted above with no issue

[code]

[2018-06-27 19:19] yakky commented on #330
`setup.py` from pypi package (https://files.pythonhosted.org/packages/65/46/3926c8df842ca80cdd7fd72fc840da797de68abe6acaf49d9723aba36f46/djangocms-column-1.7.0.tar.gz) has the following requirements
[code]

[2018-06-27 19:22] yakky commented on #330
I cannot reproduce the failure using the followin Dockerfile
[code]

[2018-06-27 19:54] mnieber commented on #330
@yakky Please see the comment above: it's related to the existence of a DJANGO_SETTINGS_MODULE environment variable (pointing to a value that is incompatible with the django_cms project layout)

[2018-06-27 20:09] yakky commented on #330
@mnieber how about forcing a compatible `` DJANGO_SETTINGS_MODULE`` during the installer run?

[2018-06-27 20:48] mnieber commented on #330
@yakky Yes, that sounds good! If the `DJANGO_SETTINGS_MODULE` value is not compatible, the installer can stop with an error.

[2018-07-17 11:44] schumannd opened #331 "Support Django version >= 2.0 (which supports python >= 3.7)"
is there a reason why Django <2.0 is installed?

I would also add Django 2.0 in the README as not supported, as it is not in beta anymore. (See PR #332)

[2018-10-06 06:20] Ruizhijian opened #333 "subprocess.CalledProcessError, I can't install on python 3.6"
(venv) MichaeldeMacBook-Pro:untitled1 michael$ djangocms mysite
Creating the project
Please wait while I install dependencies
If I am stuck for a long time, please check for connectivity / PyPi issues
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Dependencies installed
Creating the project
The install

[2018-11-02 09:51] yakky commented on #331
@schumannd no current django CMS version support Django 2.0 and 2.1, thus djangocms-installer can't install newer Django versions as they won't work with django CMS
I will merge #332 plus further clarifications regarding this

[2018-11-16 05:19] m-aciek commented on #328
Actually I still experience this problem with djangocms-installer 1.0.1.
<details><summary>I have djangocms-installer 1.0.1 installed with pipenv.</summary>
<pre>
maciek@radagast:~/Projects/martacms$ pipenv install djangocms-installer
Creating a virtualenv for this project...
Pipfile: /home/maciek/Projects/martacms/Pipfile
Using /usr/bin/python3.6 (3.6.6) to create virtualenv...
⠋Already using int

[2018-11-21 04:32] yakky commented on #333
Thanks @Ruizhijian for reporting, could you run with ``--verbose`` argument to get more information about what went wrong?

[2018-11-21 04:33] yakky commented on #331
Hopefully we will be able to bring support for django CMS 3.6rc in the next weeks for Django 2.0 and up support

[2018-11-21 04:35] yakky commented on #328
@m-aciek the source of the issue is actually a bit differnt in your case. it's fixed in nephila/djangocms-installer#335 which should yield to a 1.0.2 release later today
thanks for reporting!

[2018-12-13 18:17] evildmp opened #336 "Update for django CMS 3.6, Django>=2"
@yakky I'd like to include django CMS Installer in the upgrade and installation notes for django CMS 3.6. In the RC documentation they are still there, but will need to be removed unless the installer can also be updated to make them available.

Those notes can obviously be included again at some point in the future.

[2018-12-22 20:38] #331 closed

[2018-12-22 20:38] #336 closed

[2018-12-22 20:39] yakky commented on #336
djangocms-installer 1.1rc1 will likely be released tomorrow!

[2018-12-22 20:39] yakky commented on #331
djangocms-installer 1.1rc1 with django cms 3.6 / django 2.0+ will likely be released tomorrow!

[2018-12-22 21:38] #330 closed

[2018-12-22 22:12] yakky commented on #329
@czpython I've been able to reproduce this, even if it's a weird case of mismatched django version (see django version declared in generated `settings.py` and the one installed in the `Dockerfile`).
#339 will fix this by comparing installed and declared version and exiting with error in case they mismatch

[2018-12-23 11:44] #329 closed

[2019-01-10 02:18] jkomusin commented on #333
I've run into what I think might be the same problem, here's my output (in a fresh Python 3.6.6 environment). Perhaps an order of operations issue? The new site name collides with Django's `startproject` bootstrapper:

[2019-03-04 12:30] oshanz commented on #328
@m-aciek did you manage to make Django-cms run in a pipenv virtual environment? I can't pass the project create step.

[2019-03-05 11:39] yakky commented on #328
@oshanz could you open a separate issue for this?
I am not using pipenv myself, so I have not given a though. But I am open to discuss how to implement this

[2019-03-05 12:47] oshanz opened #341 "add pipenv support"
djangocms-installer can be installed using pipenv. also, the project can create successfully. however, if you look into the Pipfile there is nothing new, but requirements.txt file includes all the necessary dependencies. from #328

[2019-03-05 18:26] yakky commented on #311
@matthijskooijman I think that #339 fixed the issue
We can't prevent downgrades, but we can detect them and alert of any unexpected django version which has been installed

[2019-03-05 18:38] yakky commented on #341
probably we can add a option which will trigger pipenv functions to convert `requirements.txt` file to `Pipfile` but I can't find any better approach than `pipenv lock && pipenv --rm` which is a bit silly
I'm open to suggestions

[2019-03-15 15:53] oshanz commented on #341
how about if `pipenv` exists, then just skip putting `requirements.txt` file and install requirements through `pipenv`. which eventually define those in `Pipfile`

`pipenv install --dev 'packageA<=2.*', 'packageB==1.2'`

[2019-03-16 09:26] yakky commented on #341
the requirements management is the most complex part of the installer and I'm worried that having a completely different way to manage would make it very brittle, but I will give your suggestion a try

[2019-03-17 11:55] yakky commented on #341
@oshanz the proposed way seems workable
Could you give it a test to the linked PR?

[2019-03-17 14:05] oshanz commented on #341
great!! everything is working fine. however, I notice that `pipenv` dependency installation is somewhat slow. maybe thats how it is.

[code]

[2019-03-17 14:13] yakky commented on #341
I haven't really used pipenv in more complex setups, by I think the higher time to install is expected, as pipenv needs to build the  dependencies graph and resolve eventual conflicts, and we provide a lot of dependencies for it to build its list
Providing the generated requirements file to both pip and pipenv should result in a similar time skew
As far as installation process is involved, install

[2019-03-17 14:42] oshanz commented on #341
yes, that's true. let's close this ticket. Thanks :)

[2019-06-02 12:50] akoeb opened #343 "Catch dot errors on create new project, better error message"
Apparently, dots are not allowed in project names, but the installer does not catch the error, neither does it return an error message that is any helpful.

Either the installer should check and catch this error itself, telling the user what to do, or at least it should forward the error message generated by django-admin.py, because that does the right thing and says says:
**CommandError: 'abc.de'

[2019-06-29 03:49] greyhare commented on #333
I don't know about him, but I'm getting the same problem, and using verbose adds this dump before the one pasted above:

Not sure if this is for here or upstream.

[2019-06-29 12:31] yakky commented on #333
@greyhare I think that it's related to this divio/django-cms#6666

I think I will release a patch version which will pin psycopg2<2.8 that fixes the issues

[2019-06-29 16:48] yakky commented on #311
closing this as fixed by #339

[2019-06-29 16:48] #311 closed

[2019-06-29 17:14] yakky commented on #343
@akoeb thanks for reporting this.

We do our own set of checks and I added the "." in #345

`django-admin` errors are fully reported with ``--verbose`` option, but I changed this to always return them by default

[2019-06-29 19:07] yakky commented on #343
@akoeb version 1.1.1 with fix has been released

[2019-06-29 19:10] yakky commented on #333
psycopg2 pinned to < 2.8 in 1.1.1

@greyhare could you check if this fixes your issue

[2019-06-29 23:25] greyhare commented on #333
It coughs up this warning now:

But the installer runs successfully. Now on to the next thing: `http://127.0.0.1:8000/en/` gets a 404:

Seems like it should match option 8, but anyway.

[2019-06-29 23:43] yakky commented on #333
@greyhare the warning is something we can't remove: according to my psycopg2 made a lot of mess with psycopg2 / psycopg2-binary packages and the former is now the recommended for production, but in version 2.7.7 which we are forced to use, it spits out that nonsense (see http://initd.org/psycopg/docs/install.html#change-in-binary-packages-between-psycopg-2-7-and-2-8)

I can't reproduce the 404: I

[2019-06-30 00:12] greyhare commented on #333
I've narrowed down the problem to `--starting-page yes`, whether it's in the config file or the command line, breaks it. Diffing output trees...

[2019-06-30 00:28] yakky commented on #333
@greyhare ouch. Thanks for the detail. I see what has gone wrong, I will prepare a patch soon

[2019-06-30 00:28] greyhare commented on #333
No significant difference in the generated code. Looking at the diffs in the generated databases.

[2019-06-30 00:29] greyhare commented on #333
What was it? I'm still reading dumps. `is_home` is `False` for all the pages it seems, but I don't know if that's Bad.

[2019-06-30 00:29] yakky commented on #333
The problem is that in django CMS 3.5+ we must call `page.set_as_homepage` in `starting_page.py`

[2019-06-30 00:30] greyhare commented on #333
OK, let me know when it's patched.

[2019-06-30 00:31] greyhare commented on #333
Looks like there's two home pages, too:

[2019-06-30 00:34] greyhare commented on #333
Definitely looks like there's two pages:

All other differences are migration timestamps and auto-increment counts.

[2019-06-30 00:35] yakky commented on #333
django CMS always keep a live and draft version of the same page, hence the two records you see in the database

[2019-06-30 00:35] greyhare commented on #333
Pasted the wrong table the second time. Here's the right one:

[2019-06-30 00:37] greyhare commented on #333
OK, I see it: `publisher_is_draft` changes.

[2019-06-30 02:58] greyhare commented on #333
You can shut the warning up by modifying your `manage.py`:

[code]

[2019-06-30 03:20] yakky commented on #333
@greyhare I opened the PR for the starting page issue, could you test it in your environment?

regarding the psycopg2 warning, I don't think we should ship such a filtering: it would be too opinionated given the scope of this tool
Hopefully the incompatibility between pyscopg2 and django will be solved and we will be able to remove the version pinning

[2019-06-30 03:24] greyhare commented on #333
I'm not recommending shipping withthe filter. I'm recommending putting the filter where people searching for the warning in conjunction with this project will find it, so they can make a decision themselves. `manage.py` is not complex code, and people usually have changes of their own anyway. Let them make the call.

[2019-06-30 03:50] yakky commented on #333
Ah ok, I guess we can add a note in the readme

[2019-06-30 23:09] greyhare opened #349 "Unneeded DATA_DIR kludge"
I got my project generated, and I'm looking at the diffs between it and a Django-CMS 3.5 project I set up a year ago, and there's this weirdness at the start of `settings.py`:

[code]

There's a few problems here:

**1.** You can't put code in front of the file's docstring. Python will ignore it; it is not placed in the module's `__doc__` property:

[code]

Worse, while Python itself ignores those

[2019-07-02 12:33] yakky commented on #349
Unfortunately `settings.py` is generated by brute force automatic search / replace and must take into account a lot of different django versions.
I have some plan to cleanup the code a bit when Django 2.2 / django CMS 3.7 will be available and we will be able to rely on a more reduced set of django / django CMS versions

[2019-07-04 03:20] greyhare commented on #349
Django 2.2 has been out for about three months now. It's already up to 2.2.2.
Django CMS... is taking its time, apparently.
As for reparsing the settings file, it's not a trivial problem. Personally, I lean towards the cookicutter-django route.

For the DCMS project I'm working on now, I'm reorganizing it to look more like the cookiecutter layout.

[2019-07-04 20:33] yakky commented on #349
Unfortunately we must follow the Django CMS releases when it comes to Django support
Cookiecutter is a really great project, and it's definitely a great approach. This project is less opinionated than cookiecutter due to its goal of providing an easy way to bootstrap a Django CMS project, without imposing it's own layout

[2019-07-04 20:53] greyhare commented on #349
I wasn't suggesting using cookicutter-django itself, merely the cookiecutter tech it's built on.

It would be a significant change, though.

[2019-08-14 20:29] yakky commented on #343
Fixed with 1.1.1 release with check added by #345

[2019-08-14 20:29] #343 closed

[2019-08-14 20:30] yakky commented on #298
closed due to lack of feedback

[2019-08-14 20:30] #298 closed

[2019-08-14 20:30] yakky commented on #316
closed due to lack of feedback

[2019-08-14 20:30] #316 closed

[2019-08-14 20:30] yakky commented on #324
closed due to lack of feedback

[2019-08-14 20:30] #324 closed

[2019-08-14 20:38] #333 closed

[2019-08-15 16:14] yakky commented on #260
Fixed by #352

[2019-08-15 16:14] #260 closed

[2019-08-15 16:15] yakky commented on #186
Fixed by #352

[2019-08-15 16:15] #186 closed

[2019-11-04 18:03] artforlife opened #353 "Django 1.11 Installed by Default?"
I have tried this utility out for the first time (via `djangocms -f -p . cms_blog`) and discovered that it installs Django 1.11 by default. Am I doing something wrong or is not longer updated/supported?

[code]

[2019-11-04 20:16] yakky commented on #353
@artforlife sorry, but the updated version has not been released due to an issue with the release pipeline
version 1.2 with django cms 3.7 / django 2.2 support will be available shortly

[2019-11-04 20:30] yakky commented on #353
(released now)

[2019-11-04 20:30] yakky commented on #353
(released now)

[2019-11-04 20:33] yakky commented on #353
@artforlife thanks for reporting this and allowing me to spot the missing release
This is now fixed https://pypi.org/project/djangocms-installer/1.2.0/

This version defaults to django 2.2 / django CMS 3.7

closing this, feel free to reopen in case you still experience this issue

[2019-11-04 20:33] #353 closed

[2019-12-24 13:52] evgenysizikov opened #354 "Use psycopg2 2.8+ for Django 2.2 and higher"
The introspection issue with psycopg2 2.8 has been fixed in Django 2.2.1 release (see https://code.djangoproject.com/ticket/30331), so that psycopg2 2.8 should be green for Django 2.2 and higher.

djangocms-installer should be updated to use psycopg2 <2.8 for Django >=1.111,<2.2, and the most recent psycopg2 for Django 2.2 and higher.

[2019-12-24 16:51] yakky commented on #354
@evgenysizikov thanks for reporting this
re-enabling 2.8 has been on my todolist since the django fix, but I had little bandwidth to handle this
If anyone wants to contribute, it should be quite accessible, otherwise I will try to work on this before the next releease

[2019-12-24 16:53] yakky opened #355 "Support newer postgres backends"
Django has supported "short" postgres backend name "django.db.backends.postgresql_psycopg2", but we still declare only the new one.

As the "long version" is dropped in Django 3, we need to migrate to the short sooner than later

[2019-12-25 10:30] #354 closed

[2019-12-25 10:30] #355 closed

[2019-12-27 15:48] simonm3 opened #359 "cannot install. CommandError: 'xxx' conflicts with the name of an existing Python module and cannot be used as a project name. Please try another name."
Followed exactly the instructions in the docs but when I get to "djangocms mysite" there is an error every time. Does not matter what I call the project. I am using python 3.7 on windows10

CommandError: 'xxx' conflicts with the name of an existing Python module and cannot be used as a project name. Please try another name.

This is probably a documentation error. Previous version uses "djangocms

[2019-12-27 15:53] yakky commented on #359
@simonm3 thanks for following up here. Which djangocms-installer version are you using?

I will check on windows, but both versions `djangocms mysite` and djangocms -p . mysite` should work (and work on my setup). I need to check on windows in the next days as I don't have a windows box at hand.

Validation is pretty basic:
- project name must match this regexp https://github.com/nephila/djangocms

[2019-12-27 19:07] simonm3 commented on #359
1.2.0
I tried all kinds of names and there were not packages called those.
Though when I did install using the -p option it looks nothing like the
tutorial. The edit screen has no history, structure, content buttons nor
toggle to hide toolbar. And when I added a 2nd content block the plugin +
button does nothing. So looks like I am using a version that does not work?

On Fri, 27 Dec 2019 at 15:53,

[2019-12-27 23:37] yakky commented on #359
1.2.0 works according to my (and other users) test.
I'd better check what's the behavior on windows 10, but it will take me a couple of days to have a windows box at hand

[2020-01-02 13:54] bluegrounds commented on #349
Is `DATA_DIR` safe to delete and use `BASE_DIR` only?

Also, what's the use of the `gettext` function? Is it supposed to be replaced by a translation function or something?

[2020-01-02 16:06] yakky commented on #349
@bluegrounds `gettext` can be probably removed now as it should be safe to use the "real" gettext_lazy in settings. this used to be impossibile in `settings.py` and it remained  in the generated settings file.
We are testing a more intelligent way to patch `settings.py` via `ast` module but it will take some time for it to be mergeable (a few months). In the meantime we don't plan any cleanup on s

[2020-01-04 12:21] bluegrounds commented on #349
Sounds awesome.

What about `DATA_DIR`? Is it imported anywhere else outside `settings.py`?

[2020-01-04 13:08] yakky commented on #349
`DATA_DIR` is used to set `MEDIA_ROOT`, `STATIC_ROOT`

we will revise this upon the refactoring of the settings generation

[2020-04-22 23:37] yakky opened #362 "Move to github actions"
It's much quicker than travis and oh boy, we need speed for these tests

[2020-04-22 23:40] yakky opened #363 "Update tooling / packaging"
Replicate the migration applied to djangocms-helper:

* replace makefile with invoke
* use towncrier for changelog management
* use bumpversion for version bump
* move metadata to setup.cfg
* move tools configuration to tox.ini / pyproject.toml

[2020-04-22 23:40] yakky opened #364 "Use black"

[2020-04-22 23:41] yakky opened #365 "Remove support for Python 2 / Django 1.11"
No longer supported upstream, time to move on

[2020-04-25 00:22] PanosTrak opened #366 "djangocms 'staticfiles' is not a registered tag library. Must be one of:"
I installed djangocms exactly as the docs suggest (but i used pipenv instead of venv) but when i run the server i get an error:
`TemplateSyntaxError at /en/admin/login/
'staticfiles' is not a registered tag library. Must be one of:
admin_list
admin_modify
admin_style_tags
admin_tree
admin_tree_list
admin_urls
cache
cms_admin
cms_alias_tags
cms_js_tags
cms_static
cms_tags
djangocms_text_ckeditor_ta

[2020-04-25 07:03] yakky commented on #366
@PanosTrak thanks for reporting this
we are working on a fix

[2020-04-25 08:02] yakky commented on #366
Expect djangocms-installer 1.2.3 release in the next hours
Thanks for reporting this issue

[2020-04-25 08:35] yakky commented on #366
@PanosTrak djangocms-installer 1.2.3 released with fix

[2020-04-26 21:40] yakky commented on #365
Fixed in #369

[2020-04-26 21:40] #365 closed

[2020-04-26 21:41] yakky commented on #366
Fixed in #368, #367

[2020-06-23 08:30] philippeowagner opened #372 "pip installing from extra-index-url"
Hi @yakky et al

Is it possible to pip installing from an extra-index-url?

Thanks in advance for a hint.

[2020-06-23 08:38] yakky commented on #372
Hi @philippeowagner you have two main options to add additional sources:

* use `PIP_EXTRA_INDEX_URL` environment variable (https://pip.pypa.io/en/stable/user_guide/#environment-variables)
* provide a custom requirements file via `-r` option (https://djangocms-installer.readthedocs.io/en/latest/reference.html#advanced-options) and declare there `--extra-index-url=...`

[2020-06-23 08:45] philippeowagner commented on #372
How could I have missed that... Thanks!

[2020-06-23 08:45] #372 closed

[2020-07-15 22:29] #366 closed

[2020-07-16 00:46] #8 closed

[2020-07-16 00:46] #362 closed

[2020-07-16 00:46] #363 closed

[2020-07-16 00:46] #364 closed

[2020-08-04 10:47] archila1 opened #374 "installation..."
soo i'm trying to install djangocms. but! after going through tutorial, i get error on when trying to do migrate.

just going step by step, as in guide.  installing virtualenv, activating, installing djangocms, starting project, making changes to settings.py file, and at last trying to python manage.py migrate.  this is where i get error...

i have Python 3.8 , Django 3.1  djangocms is 3.7?

## Ad

[2020-08-05 10:13] kuttamuwa commented on #374
I came across the same error. What we both missed is django version. Django 3.1 is not supported by django-cms.
See:  http://docs.django-cms.org/en/latest/index.html#requirements

I downgraded django 3.1 to 3.0. Problem was fixed.

[2020-08-05 18:16] archila1 commented on #374
strange. i think i have django 3.0 at work and it was not working. gonna try again. thx for info

[2020-08-05 18:16] #374 closed

[2020-09-09 18:30] shiva-katepalli commented on #359
Hi yakky!!
Any resolution you identified on this issue, I am having same issue on windows 10 system.

[2020-09-25 05:43] dependabot-preview[bot] opened #375 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/nephila) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/nephila/update-logs/48690871).

[2020-09-28 05:38] #375 closed

[2020-10-07 21:51] yakky commented on #359
Sorry, I currently don't have a windows box to test the behavior

I very happily welcome some help from people with a windows PC at hand who can test and debug this behavior

[2020-11-10 22:51] boesee commented on #359
i had the exact same error following the getting started instructions on the django website. also, i'm a windows 10 user. after considering [](http://docs.django-cms.org/en/latest/introduction/01-install.html) it worked like a charm. i saw a discrepancy between
`(env) $ djangocms mysite`
and
`mkdir tutorial-project`
`cd tutorial-project`
`djangocms mysite`

[2020-11-14 22:01] yakky commented on #359
can't reproduce the issue

See below a test run on a fresh windows 10 box with Python 3.8.6 installed

Just make sure that the current directory where you launch the command is empty and everything should be fine

[code]

[2020-11-14 22:19] yakky opened #376 "Add django CMS 3.8"
Add support for django CMS 3.8

[2020-11-14 22:25] yakky opened #377 "Update pre-commit versions"

[2020-11-14 22:45] #376 closed

[2020-11-14 23:00] #377 closed

[2020-11-16 07:58] boesee commented on #359
Hi there, can't reproduce it either when doing it your way. but i can reproduce it when i CD to \env\Scripts first (before running "activate"). i would create "mysite" in this path (c:\site_base\env\Scripts\) and obviously there is a conflict while doing this.

[2020-11-16 08:34] yakky commented on #359
@boesee thanks for your feedback
I will add a FAQ entry with the above log to clarify the usage

[2020-11-16 08:42] boesee commented on #359
thx, I appreciate it

[2021-01-02 10:06] yakky opened #380 "Use django-app-enabler as patching engine"
Usage of https://github.com/nephila/django-app-enabler will enable to:

- have a more robust way to patch settings.py file
- have a cleaner settings.py file (see #349 )
- allow to install third party applications during the project creation (see #381 )
- support more project templates (see #136 )

Replaces #360

[2021-01-02 10:09] yakky opened #381 "Install additional applications during project creation"
Adding support for installing (and enabling) additional applications during project creation allow for more use cases for experienced users

[2021-03-16 17:44] JamesWanjohi commented on #359
Hello.

I cannot get past this error. Here is my workflow.
Using Ubuntu 18.04 LTS
Python = python 3.7.8

pip install --upgrade pip
pip install djangocms-installer
python3 -m venv folder
source folder/bin/activate
mkdir site
cd site
djangocms mysite

runtimeError: CommandError: 'mysite' conflicts with the name of an existing Python module and cannot be used as a project name. Please try another nam

[2021-03-16 18:21] JamesWanjohi opened #383 "djangocms -p mysite mysite"
## Description

I cannot get to create a djangocms projec

## Steps to reproduce

pip install --upgrade pip
pip install djangocms-installer
python3 -m venv folder
source folder/bin/activate
mkdir site
cd site
djangocms mysite

## Versions

Using Ubuntu 18.04 LTS
Python = python 3.7.8
django version = 3.1.7.0

## Actual behaviour

runtimeError: CommandError: 'mysite' conflicts with the name of an e

[2021-03-30 15:01] fp4code opened #384 "Specify package version requirement using == instead of >="
## Description

Djangocms-installer ```djangocms``` command should install only working configurations with package versions requirement specified using ```==``` instead of ```>=```.
Today, a ```djangocms mysite``` site is buggy due to https://github.com/django-cms/django-cms/issues/6980

## Steps to reproduce

[code]

- open http://localhost:8000/
- connect admin/admin
- create a page
- create a

[2021-05-10 15:22] trustraptor commented on #359
I also had this error trying to install djangocms inside of the virtualenv folder or the vanilla django site folder. create and cd into new folder then run:

djangocms mysite

https://docs.django-cms.org/en/latest/introduction/01-install.html

[2021-05-18 11:26] fp4code opened #386 "Not working in PythonAnywhere or Heroku servers (bad project.db path)"
## Description

On PythonAnywhere or Heroku servers the working directory is the home. BASE_DIR should be prepended to project.db NAME path.

## Steps to reproduce

See https://stackoverflow.com/questions/56283143/django-cms-error-cms-urlconfrevision-on-deployment
and https://django-cmsworkspace.slack.com/archives/C01EBCEK49E/p1621336250002400 for examples.

[2021-06-03 10:09] crydotsnake opened #387 "djangocms-installer does not install django and djangocms-admin-style"
## Description
I can create a djangoCMS project without problems, only when I then want to start the project comes the message that django is not installed. If I install Django manually, I get the message that djangocms-admin-style is also not installed. After you have installed the modules manually, you can start the project and use djangoCMS.

## Steps to reproduce
Create a djangoCMS Project and

[2021-06-26 09:11] crydotsnake commented on #387
A workaround is to install the requirements after the project is created.

[2021-06-29 17:42] goutnet opened #388 "django-cms 3.9.0 is out!"
Hi,

we just released djangoCMS 3.9.0 can you add this new version to the installer?

Thanks!

[2021-07-03 17:40] greyhare commented on #388
Django 3.2 is out as well (It's already up to 3.2.5) and djangoCMS 3.9 supports it.

[2021-07-17 11:17] yakky commented on #387
@crydotsnake could you run djangocms installer `--verbose` option and post the full traceback?

[2021-07-17 11:41] crydotsnake commented on #387
Sure!

[code]

[2021-07-17 11:50] yakky commented on #386
@fp4code you can pass the `--database-url` argument to adapt the database path to whatever is needed for your setup

[2021-07-17 11:54] yakky commented on #384
Using strict equality would generate a lot of maintenance burden on the package.

In cases like this it's much easier to restrict dependencies whenever an issue arise.

For treebeard it's actually sensible to restrict the version brackets and being more conservative.

I will open a PR for this

[2021-07-17 20:55] speendo commented on #388
Just got in some trouble to update my Docker image because `--django-version 3.2` is not supported...
https://github.com/speendo/djangocms-postgres-docker

[2021-07-17 21:09] speendo opened #390 "Docs: Required libraries seem to be outdated"
## Description

Documentation about libraries needs update

## Steps to reproduce

Section https://github.com/nephila/djangocms-installer/blob/7893e37cdcad8e60ecea99c29ee627e6bf9aaff6/docs/libraries.rst#debian--ubuntu seems to be outdated. The referred libraries have been renamed in Debian.

## Versions

Debian Buster

## Expected behaviour

Referred libraries should be present in the Debian Repos

[2021-07-18 03:28] goutnet commented on #388
@speendo  what command are you trying to run?

[2021-07-18 10:19] speendo commented on #388
First I tried to run the installer without specifying the django version:

    djangocms --db postgres://djangocms_db_user:djangocms_db@db:5432/djangocms_db --no-deps --i18n yes --use-tz yes --permissions yes --languages de --languages en --bootstrap yes --starting-page no --parent-dir /app/projects my_djangocms_project

The installer responded with

[code]

It seems though, that the installation

[2021-07-25 12:53] speendo commented on #388
I don't want to rush anybody, but are there plans or a road map until when the installer will be updated to django-cms 3.9?

I find the installer to be much more convenient than the manual installation and it's also still listed as "preferred method" on the django-cms website.

However, it's almost a month since django cms 3.9 came out for which the preferred installation method doesn't work yet..

[2021-09-23 05:24] greyhare commented on #388
I'm getting the feeling this installer is abandoned. There has been no activity in all of 2021.

[2021-09-25 01:00] kcho commented on #359
I had the same error. I think it's because `django.create_project` creates the output directory before running the `django-admin.py`. Commenting out the line below and replacing it to `pass` solved the error for me.
https://github.com/nephila/djangocms-installer/blob/5f825c02b1c324a2c9c3d0662913a3a2fdf798dd/djangocms_installer/django/__init__.py#L33

[2021-11-10 15:26] UdeshPiyumantha commented on #359
I had the same issue when working with wagtail cms. I got this error even there is no such a created app. This occurs when there is an app already that has the same name you need to create inside the **site-packages directory**.

Once you get this error, you need to check the following directory,

**C:\Users\\{user}\AppData\Local\Programs\Python\Python38-32\Lib\site-packages**

If there is a packa

[2022-03-04 19:20] michalnik opened #391 "After djangocms-installer is installed it cannot be run because of missing pytz"
## Description

I started new project with django-cms. I created virtualenv. I upgraded pip. I installed djangocms-installer. I run djangocms-installer and it did not turn out well.

## Steps to reproduce

$ python3.7 -m venv env
$ source env/bin/activate
$ pip install --upgrade pip
$ pip install djangocms-installer
$ djangocms

## Versions

python3.7 django3.1.14 djangocms-installer2.0.0

## Expe

[2022-03-04 19:32] michalnik opened #392 "optional argument --bootstrap with value no install djangocms-bootstrap4"
## Description

When I want to use optional argument `--bootstrap no` it should not install djangocms-bootstrap4.

## Steps to reproduce

$ python3.7 -m venv env
$ source env/bin/activate
$ pip install --upgrade pip
$ pip install pytz djangocms-installer
$ djangocms -f --bootstrap no -s -p . someapp

## Versions

python3.7, django3.1.14, pytz2021.3, djangocms-installer2.0.0

## Expected behaviour

[2022-03-05 22:09] michalnik commented on #392
I was looking into source code and it seems that option `--bootstrap` has quite different meaning that I was thinking a while ago.
When it is "yes" there will be CMS_TEMPLATES_BOOTSTRAP and otherwise there will be CMS_TEMPLATES. Could somebody explain what should mean this option? The solution seems to be fix the help for the option? Thank somebody to help with it.

[2022-03-05 22:14] michalnik commented on #392
So, it looks that this option is only about templates with or without css from this [project](https://getbootstrap.com). I would appreciate help, what I should do with this ... Thanx

[2022-03-23 12:28] michalnik commented on #392
No answer, here. I am closing the ticket, cause there is no advice to help to find any solution.

[2022-03-23 12:28] #392 closed, assigned to nobody

[2022-06-17 12:33] mazulo commented on #388
@yakky @protoroto sorry to bother you folks, but do we have any plans on moving the project forward along with the djangocms project?